node-red/flows.json
[{"id":"3536a43f.46fefc","type":"tab","label":"Remotes and Buttons","disabled":false,"info":""},{"id":"e324d7f5.ccaea8","type":"tab","label":"Timers","disabled":false,"info":""},{"id":"4e1213ca.a2449c","type":"tab","label":"Time Actions","disabled":false,"info":""},{"id":"2311f90c.29fb76","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"d0718d85.be9c6","type":"tab","label":"Bus Times","disabled":false,"info":""},{"id":"22d9cd14.7f66f2","type":"tab","label":"Climate","disabled":false,"info":""},{"id":"c1fab521.8def38","type":"tab","label":"Calendar","disabled":false,"info":""},{"id":"4879c3b4.8a526c","type":"tab","label":"Appliances","disabled":false,"info":""},{"id":"f38f6ac7.87e2e8","type":"tab","label":"Motion Lights","disabled":false,"info":""},{"id":"53288f5b.596ec","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"8f04e19c.93e2b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"532b3239.4bdaec","type":"discord-token","z":"","name":"Family"},{"id":"1644aeb.2735951","type":"google-conn","z":"","name":"Google","key":"{\n  \"type\": \"service_account\",\n  \"project_id\": \"thompson-hq-hassio\",\n  \"private_key_id\": \"f920e9ffb10f281bdaaa7b5fe7cbc001a7dc1130\",\n  \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCkLyaweJOLEfjT\\nsZjcEET7oGE9lxotXZL1G7imgwePhXIbhnVmsVsidYq38/J0ewskDX+08R14Jpcq\\nAsuA019uun6aO2rIV+3rPaJrbjsqr0kN/4eZGAdM5A6f7n1h/0tK6oNTAGcTjvrF\\nGB+5fqbnalZn2YYOrCsfkaZQcOBkn0n0shjHO1Lro9tfa8JQTOaXMekK+eTFQybu\\nt2EGERXdP8wrklyRALphcdfD6vP/MfiHCMAyhO3iVj8+19x/XyLDsG4lDXq9KSFT\\no2QAAsjlceuaEda7dLalwwLBtHU348cv7alMrHlQTdkpaeDc9d/UK/RBELQmX2QK\\n+Gu6UBd7AgMBAAECggEAMmqKMmFsSSW1J2hfPKBAVpZaldua/bhAwsSG8JbG0RMU\\nxZAF6AlpJ0050h/2YT9RXfpJL2pk9rq+63cdP4towCtDah/5u9iIZhawk9WvFH3r\\n7ID9hgzjXQCg3wqQdPG8kJ4vwmKaxF5A8hnk0ASswt4b91rL+CB1Q4XpsMTgmvTz\\nArx0mNbzozjw1Wt8/RNCU8tu1+lKtYO7HRSBftSpjvV0/yBS/gY5JjmpMO1aMTlK\\nZkpLSHxYNLFsbs73EM0XbNIAIzEiZFv7FTb6zqdpxxp7tRPLv0SUdcOUsJaWu5vE\\nMN3BevOUhpEEe2V/0Fl7L0g8fkPV6K2ZfgLwLmeaKQKBgQDRzL7T5U7xuKISeXyJ\\n9SUh+IvnAE+dPGqM9Y8fxeMkVO0kIq+MlzNadEA43Pv3+Fn/S5d9HV7ch2EBWVnw\\nMwgMUWarshJZR93ti96vaSE/89elpsUeMRIV/6LhK5OH45udMSuYjwI+3/PYJ5kJ\\n48hBNjsSKjwEEOyCaOnYBNPSQwKBgQDIVt8VUM2/jby3ZWfXDcPfa/pop/TPJBDz\\n+bWGYK98v187Qgr6E8aA1f/1sE9PsmjS6oQ6U78G2pJPd6FAFjlOLWzJb9D/kEuY\\n68lcaDFb4UwuvZEiuGrwDEEIvzT6Mz72jO0yf9DKraVxsGwBaxOciKQViDnv2mEq\\nXOUPZtkeaQKBgQDHv3WMj42rLQv6JPrC6slQ37Br3mrunIAh9wYuzRznEYi6199m\\nLusw2u/uc8/elvEw1QrFj3oq4yYjv6uWuy+Vcsca/67inD8bFQmO3rxOhF40FGUm\\nyreahErSsceEINufPRpx5O7RaC5lBcZ6mQmntPdm4xlDEc3sl/DUwDvguwKBgQDH\\n0Q2UHxH32pC9guD9N/eDYhlSRSMBb4GRNiB9tPWTQPTlD8wO/aZhXhB7pqyUWuf+\\nZnYYDutbFKoVpMYqO4BQnzIAAAy+udcM4S/ngOyqLZ5kiCK4NKREZJSA+uUGIBLO\\nqmTyl1VSsbtwF3zCNWBMImU2LLdMqc18CUdWA0jO8QKBgFt0wG5OoD1wwv1OBmzR\\nnv/N1Clg8iJa5jNL6v3nigx9n9UF6Nyt7aLLYEUlep9KMtUN6TskcCJHGKHdNaTO\\nfSSchcfKnFMJrXddG4kAoEcvpbg5nlcl0QTYMeKvbPzViy1UA9WfGQpBfJMG/Out\\n5wI/YVwBnOJqHne3WACHn3Ya\\n-----END PRIVATE KEY-----\\n\",\n  \"client_email\": \"hassio@thompson-hq-hassio.iam.gserviceaccount.com\",\n  \"client_id\": \"105215526169148539372\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://oauth2.googleapis.com/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/hassio%40thompson-hq-hassio.iam.gserviceaccount.com\"\n}\n","scopes":"https://www.googleapis.com/auth/calendar\nhttps://www.googleapis.com/auth/calendar.events\nhttps://www.googleapis.com/auth/calendar.events.readonly\nhttps://www.googleapis.com/auth/calendar.readonly\nhttps://www.googleapis.com/auth/calendar.settings.readonly"},{"id":"d67b5149.9bbbd","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Bathroom Sensor","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.bathroom_motion_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":260,"wires":[["f7df7bc7.fda158"],["9ddb6ee.6d0ee9"]]},{"id":"f7df7bc7.fda158","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Bathroom Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.bshower","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":200,"wires":[["148f9e29.cbd062","50d107bf.09b148"],[]]},{"id":"148f9e29.cbd062","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bth Motion Flag On","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":180,"wires":[[]]},{"id":"50d107bf.09b148","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bth Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.bathroom_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":220,"wires":[[]]},{"id":"9ddb6ee.6d0ee9","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bth Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.bathroom_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":280,"wires":[[]]},{"id":"6dcdb64e.359d88","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Bth Motion Flag","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.motion_in_bathroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":460,"wires":[["8ab58f09.0eaf8"],["cea71983.28efd8"]]},{"id":"de36e3f5.3b8ca","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bathroom Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":480,"wires":[[]]},{"id":"29546ed4.7f2362","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":380,"wires":[["3fc175ed.8f5ada"],["9640a37b.93de6"]]},{"id":"3fc175ed.8f5ada","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bathroom Light On 20%","server":"53288f5b.596ec","version":1,"service_domain":"light","service":"turn_on","entityId":"light.bathroom","data":"{\"brightness_pct\":\"20\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":360,"wires":[[]]},{"id":"9640a37b.93de6","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bathroom Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.bathroom","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":400,"wires":[[]]},{"id":"cea71983.28efd8","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Bathroom Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.bshower","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":480,"wires":[["de36e3f5.3b8ca"],[]]},{"id":"8ab58f09.0eaf8","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Bathroom Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.bshower","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":400,"wires":[["29546ed4.7f2362"],[]]},{"id":"4b4be3bf.be966c","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Toilet Sensor","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.toilet_motion_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":780,"wires":[["57c4c55e.db6c1c"],["27e47cd1.63c484"]]},{"id":"57c4c55e.db6c1c","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Toilet Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.ton","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":720,"wires":[["d7773598.18c308","98d6ba31.313e68"],[]]},{"id":"d7773598.18c308","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Tlt Motion Flag On","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_toilet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":700,"wires":[[]]},{"id":"98d6ba31.313e68","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Tlt Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.toilet_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":740,"wires":[[]]},{"id":"27e47cd1.63c484","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Tlt Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.toilet_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":800,"wires":[[]]},{"id":"deed14c3.e02e48","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Tlt Motion Flag","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.motion_in_toilet","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":980,"wires":[["24aef097.0e39"],["4faf5147.d7ec8"]]},{"id":"7c89470b.841e08","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Toilet Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.toilet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":1000,"wires":[[]]},{"id":"1fae8d7c.7570a3","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":900,"wires":[["cc240f5e.3bc56"],["2018e5e8.04037a"]]},{"id":"cc240f5e.3bc56","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Toilet Light On 10%","server":"53288f5b.596ec","version":1,"service_domain":"light","service":"turn_on","entityId":"light.toilet","data":"{\"brightness_pct\":\"10\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":880,"wires":[[]]},{"id":"2018e5e8.04037a","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Toilet Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.toilet","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":920,"wires":[[]]},{"id":"4faf5147.d7ec8","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Toilet Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.ton","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":1000,"wires":[["7c89470b.841e08"],[]]},{"id":"24aef097.0e39","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Toilet Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.ton","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":920,"wires":[["1fae8d7c.7570a3"],[]]},{"id":"2816837a.25fecc","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Laundry Sensor","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.laundry_sensor_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1340,"wires":[["35145b.90cf1ba6"],["30475807.235d78"]]},{"id":"35145b.90cf1ba6","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Laundry Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.lon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":1280,"wires":[["ed2a658a.26a308","de44f666.d99d08"],[]]},{"id":"ed2a658a.26a308","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Lnd Motion Flag On","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_laundry","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":1260,"wires":[[]]},{"id":"de44f666.d99d08","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Lnd Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.laundry_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":1300,"wires":[[]]},{"id":"30475807.235d78","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Lnd Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.laundry_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":1360,"wires":[[]]},{"id":"cfa14a43.758508","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Lnd Motion Flag","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.motion_in_laundry","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1540,"wires":[["460f78f1.f3b298"],["e6628773.cb3dc8"]]},{"id":"820ba4fc.598748","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Laundry Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.laundry","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":1560,"wires":[[]]},{"id":"a383f5dc.aef728","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":1460,"wires":[["874b794d.ff2588"],["d8f101f8.9a4d5"]]},{"id":"874b794d.ff2588","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Laundry Light On 50%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.laundry","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":1440,"wires":[[]]},{"id":"d8f101f8.9a4d5","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Laundry Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.laundry","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":1480,"wires":[[]]},{"id":"e6628773.cb3dc8","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Laundry Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.lon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":1560,"wires":[["820ba4fc.598748"],[]]},{"id":"460f78f1.f3b298","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Laundry Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.lon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":1480,"wires":[["a383f5dc.aef728"],[]]},{"id":"86be4191.7abb2","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Garage Sensor","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.garage_sensor_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1900,"wires":[["28877b72.1c33d4"],["e30c131f.33df9"]]},{"id":"28877b72.1c33d4","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Garage Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.gon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":1840,"wires":[["b5d7de38.278fa","d9508e88.277a"],[]]},{"id":"b5d7de38.278fa","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Grg Motion Flag On","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":1820,"wires":[[]]},{"id":"d9508e88.277a","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Grg Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.garage_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":1860,"wires":[[]]},{"id":"e30c131f.33df9","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Grg Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.garage_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":1920,"wires":[[]]},{"id":"3691721a.6553be","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Grg Motion Flag","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.motion_in_garage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":2100,"wires":[["abad504b.73c44"],["eef05842.515298"]]},{"id":"5d593a1.8b5b2c4","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Garage Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":2100,"wires":[[]]},{"id":"60d2f7eb.841148","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Garage Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.garage","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":2020,"wires":[[]]},{"id":"eef05842.515298","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Garage Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.gon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":2120,"wires":[["5d593a1.8b5b2c4"],[]]},{"id":"abad504b.73c44","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Garage Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.gon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":2040,"wires":[["60d2f7eb.841148"],[]]},{"id":"94fe7729.f1f8a8","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Ensuite Sensor","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.ensuite_sensor_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":2520,"wires":[["fc5d80fc.d4ef6","7dd1a32f.10ba8c"],["638a35c4.a9235c"]]},{"id":"fc5d80fc.d4ef6","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ens Motion Flag On","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_ensuite","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":2440,"wires":[[]]},{"id":"7dd1a32f.10ba8c","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ens Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.ensuite_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":2480,"wires":[[]]},{"id":"638a35c4.a9235c","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ens Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.ensuite_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":2540,"wires":[[]]},{"id":"30d5385d.ec6dc8","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Ens Motion Flag","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.motion_in_ensuite","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":2740,"wires":[["3be7b307.6567bc"],["ef98fb94.c00a78"]]},{"id":"3bd1fad1.e1ebd6","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.ensuite","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":2840,"wires":[[]]},{"id":"80338716.ee4c98","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":2660,"wires":[["72e08b92.927674"],["572fb34c.a25dbc"]]},{"id":"72e08b92.927674","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite Spot On 50%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.ensuite_spot","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":2640,"wires":[[]]},{"id":"572fb34c.a25dbc","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.ensuite","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":2680,"wires":[[]]},{"id":"ef98fb94.c00a78","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Ensuite Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.eshower","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":2840,"wires":[["3bd1fad1.e1ebd6"],[]]},{"id":"3be7b307.6567bc","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Ensuite Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.eshower","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":2680,"wires":[["80338716.ee4c98"],["a4cf4d8b.2a57"]]},{"id":"5b5dc669.1a2cb8","type":"server-state-changed","z":"3536a43f.46fefc","name":"mbed Button Press","server":"53288f5b.596ec","version":1,"entityidfilter":"sensor.meg_bed_button_press","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":60,"wires":[[]]},{"id":"5d04ac19.ba4af4","type":"switch","z":"3536a43f.46fefc","name":"Button?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4003","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":340,"y":260,"wires":[["d8a112ef.9488f"],["ac41726f.119fa"],["f06105bf.6fd098"],["259fa91f.dc2b36"],["a383ee28.7fe4d"],[],["4d95ee8b.5e003"],["18f565f1.0682fa"]]},{"id":"d8a112ef.9488f","type":"api-call-service","z":"3536a43f.46fefc","name":"Turn off Meg's Blanket (Input Boolean)","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"input_boolean.bed_m","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":40,"wires":[[]]},{"id":"4d95ee8b.5e003","type":"api-call-service","z":"3536a43f.46fefc","name":"Turn off Simon's Blanket (Input Boolean)","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"input_boolean.bed_s","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":400,"wires":[[]]},{"id":"ac41726f.119fa","type":"api-call-service","z":"3536a43f.46fefc","name":"Turn on Meg's Blanket (Input Boolean)","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"input_boolean.bed_m","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":100,"wires":[[]]},{"id":"18ab4f13.874621","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Bth Motion Flag Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.motion_in_bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":40,"wires":[[]]},{"id":"4fb61b24.fc2214","type":"switch","z":"e324d7f5.ccaea8","name":"Which Timer?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"timer.bathroom_timer","vt":"str"},{"t":"cont","v":"timer.laundry_timer","vt":"str"},{"t":"cont","v":"timer.garage_timer","vt":"str"},{"t":"cont","v":"timer.ensuite_timer","vt":"str"},{"t":"cont","v":"timer.toilet_timer","vt":"str"},{"t":"cont","v":"timer.bed_m_timer","vt":"str"},{"t":"cont","v":"timer.bed_s_timer","vt":"str"},{"t":"cont","v":"timer.bed_st_timer","vt":"str"},{"t":"cont","v":"timer.bed_d_timer","vt":"str"},{"t":"cont","v":"timer.garage_just","vt":"str"},{"t":"cont","v":"timer.outback_just","vt":"str"}],"checkall":"false","repair":false,"outputs":11,"x":580,"y":360,"wires":[["18ab4f13.874621"],["6111492e.76a8d8"],["f9dfb12.0f1bb5"],["e603ad70.b3b44"],["aa36e589.ca8af8"],["12dabb8c.b5e234"],["94eb17c.29ae4e8"],["87a1314b.7d63a"],["a0632f2f.ea52e"],["1647c7c5.76bca8"],["d8faaed4.63e92"]]},{"id":"11f9428e.b680fd","type":"server-events","z":"e324d7f5.ccaea8","name":"Timers Finishing","server":"53288f5b.596ec","event_type":"timer.finished","x":100,"y":360,"wires":[["300d352c.1ce55a"]]},{"id":"e603ad70.b3b44","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Ens Motion Flag Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.motion_in_ensuite","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":220,"wires":[[]]},{"id":"6111492e.76a8d8","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Lnd Motion Flag Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.motion_in_laundry","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":100,"wires":[[]]},{"id":"f9dfb12.0f1bb5","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Grg Motion Flag Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.motion_in_garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":160,"wires":[[]]},{"id":"aa36e589.ca8af8","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Tlt Motion Flag Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.motion_in_toilet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":280,"wires":[[]]},{"id":"300d352c.1ce55a","type":"json","z":"e324d7f5.ccaea8","name":"Convert to JSON","property":"payload","action":"str","pretty":false,"x":330,"y":360,"wires":[["4fb61b24.fc2214"]]},{"id":"12dabb8c.b5e234","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Turn off Meg's Blanket","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.megan_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":400,"wires":[[]]},{"id":"94eb17c.29ae4e8","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Turn off Simon's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.simon_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":460,"wires":[[]]},{"id":"87a1314b.7d63a","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Turn off Staci's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.staci_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":520,"wires":[[]]},{"id":"a0632f2f.ea52e","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Turn off Delia's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.delia_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":580,"wires":[[]]},{"id":"18f565f1.0682fa","type":"api-call-service","z":"3536a43f.46fefc","name":"Turn on Simon's Blanket (Input Boolean)","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"input_boolean.bed_s","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":440,"wires":[[]]},{"id":"f06105bf.6fd098","type":"api-call-service","z":"3536a43f.46fefc","name":"Ensuite Toggle","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"toggle","entityId":"light.ensuite","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":200,"wires":[[]]},{"id":"a383ee28.7fe4d","type":"api-call-service","z":"3536a43f.46fefc","name":"Master Lightstrip Toggle","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"toggle","entityId":"light.master_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":300,"wires":[[]]},{"id":"ece39860.93f708","type":"server-state-changed","z":"3536a43f.46fefc","name":"bed Button Press","server":"53288f5b.596ec","version":1,"entityidfilter":"sensor.bedroom_button_press","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":260,"wires":[["5d04ac19.ba4af4"]]},{"id":"eecc5af9.f1b3c8","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Bathroom Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.bshower","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":100,"wires":[["ea7635dd.5484f8"]]},{"id":"ea7635dd.5484f8","type":"switch","z":"f38f6ac7.87e2e8","name":"Bth Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Bathroom On","vt":"str"},{"t":"eq","v":"Motion","vt":"str"},{"t":"eq","v":"Bathroom Off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":100,"wires":[["4cea945c.3ffaec"],["eb230b51.dc3ae8"],["eb230b51.dc3ae8"]]},{"id":"4cea945c.3ffaec","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":60,"wires":[["51f669b1.d68348"],["2528ec71.431514"]]},{"id":"51f669b1.d68348","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bathroom Light On 50%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.bathroom","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":40,"wires":[[]]},{"id":"2528ec71.431514","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bathroom Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.bathroom","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":80,"wires":[[]]},{"id":"eb230b51.dc3ae8","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bathroom Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":120,"wires":[[]]},{"id":"25b6334e.f6578c","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Toilet Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.ton","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":620,"wires":[["fd9223f0.dc27e"]]},{"id":"fd9223f0.dc27e","type":"switch","z":"f38f6ac7.87e2e8","name":"Tlt Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Toilet On","vt":"str"},{"t":"eq","v":"Motion","vt":"str"},{"t":"eq","v":"Toilet Off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":620,"wires":[["54e437cc.5fec78"],["ffdf4c9a.6c4ba"],["ffdf4c9a.6c4ba"]]},{"id":"ffdf4c9a.6c4ba","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Toilet Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.toilet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":640,"wires":[[]]},{"id":"54e437cc.5fec78","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":580,"wires":[["4af6360.23eb9cc"],["d07d1900.9c4e48"]]},{"id":"4af6360.23eb9cc","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Toilet Light On 10%","server":"53288f5b.596ec","version":1,"service_domain":"light","service":"turn_on","entityId":"light.toilet","data":"{\"brightness_pct\":\"10\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":560,"wires":[[]]},{"id":"d07d1900.9c4e48","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Toilet Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.toilet","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":600,"wires":[[]]},{"id":"fdde2679.772708","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Ensuite Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.eshower","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":2320,"wires":[["6e11fb56.59b294"]]},{"id":"6e11fb56.59b294","type":"switch","z":"f38f6ac7.87e2e8","name":"Ens Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Ensuite On","vt":"str"},{"t":"eq","v":"Motion","vt":"str"},{"t":"eq","v":"Ensuite Off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":2320,"wires":[["aff07699.134938"],["45762e9d.040ec"],["45762e9d.040ec"]]},{"id":"45762e9d.040ec","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.ensuite","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":2340,"wires":[[]]},{"id":"aff07699.134938","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":2280,"wires":[["e9fda607.0d1928"],["7830787d.02e738"]]},{"id":"e9fda607.0d1928","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite Spot On 50%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.ensuite_spot","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":2260,"wires":[[]]},{"id":"7830787d.02e738","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.ensuite","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":2300,"wires":[[]]},{"id":"c125f58.9bc6808","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Garage Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":1740,"wires":[[]]},{"id":"7353dfcc.42b4d","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Garage Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.garage","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":1700,"wires":[[]]},{"id":"65864f3.2d5f3b","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Garage Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.gon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":1720,"wires":[["98ce3ddb.f2aa8"]]},{"id":"98ce3ddb.f2aa8","type":"switch","z":"f38f6ac7.87e2e8","name":"Grg Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Garage On","vt":"str"},{"t":"eq","v":"Motion","vt":"str"},{"t":"eq","v":"Garage Off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":1720,"wires":[["7353dfcc.42b4d"],["c125f58.9bc6808"],["c125f58.9bc6808"]]},{"id":"a8aa25da.72db48","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Laundry Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.laundry","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":1180,"wires":[[]]},{"id":"5e3a1ee4.f4a6b","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":1100,"wires":[["7e01e911.a550f8"],["24ea3e0a.7ec9b2"]]},{"id":"7e01e911.a550f8","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Laundry Light On 50%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.laundry","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":1080,"wires":[[]]},{"id":"24ea3e0a.7ec9b2","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Laundry Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.laundry","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1120,"wires":[[]]},{"id":"7c76223e.b27d2c","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Laundry Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.lon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":1120,"wires":[["bb044102.37518"]]},{"id":"bb044102.37518","type":"switch","z":"f38f6ac7.87e2e8","name":"Lnd Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Laundry On","vt":"str"},{"t":"eq","v":"Motion","vt":"str"},{"t":"eq","v":"Laundry Off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":1120,"wires":[["5e3a1ee4.f4a6b"],["a8aa25da.72db48"],["a8aa25da.72db48"]]},{"id":"4e45e506.58aaac","type":"api-call-service","z":"4e1213ca.a2449c","name":"All Lights Off","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.back_hall, light.bathroom, light.delias, light.dining, light.ensuite, light.front_light, light.front_hall, light.garage, light.girls_hall, light.kitchen, light.laundry, light.living_room, light.lounge_room, light.lounge_tv, light.master_lightstrip, light.stacis, light.study, light.toilet, light.lounge_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":1860,"wires":[[]]},{"id":"9470c775.836d38","type":"api-call-service","z":"4e1213ca.a2449c","name":"Night Lights Off","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.living_room, light.dining, light.front_light, light.kitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2460,"y":2640,"wires":[["cb8e45f8.bf40f8"]]},{"id":"1c6ce715.4e6429","type":"api-call-service","z":"4e1213ca.a2449c","name":"Night Lightstrip Low","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.master_lightstrip","data":"{\"brightness_pct\":\"30\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2290,"y":2300,"wires":[[]]},{"id":"cdfebf67.b1d2","type":"api-current-state","z":"4e1213ca.a2449c","name":"Master Lightstrip On?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.master_lightstrip","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1980,"y":2300,"wires":[["1c6ce715.4e6429"],[]]},{"id":"a4cf4d8b.2a57","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Morning?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_morning","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":2720,"wires":[["5c8568a9.f6aa68","17b42d26.238ad3"],[]]},{"id":"ac64e5a7.36a178","type":"api-current-state","z":"4e1213ca.a2449c","name":"TV Off?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"remote.harmony_hub","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1940,"y":2600,"wires":[["fe2038de.b27958"],[]]},{"id":"cb888a6d.ff2b88","type":"api-call-service","z":"4e1213ca.a2449c","name":"TV Lightstrip Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.lounge_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2460,"y":2560,"wires":[[]]},{"id":"5c8568a9.f6aa68","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.ensuite","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":2740,"wires":[[]]},{"id":"17b42d26.238ad3","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ens Motion Flag Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.motion_in_ensuite","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":2780,"wires":[[]]},{"id":"1e5d33fb.7551dc","type":"trigger-state","z":"2311f90c.29fb76","name":"Delia travelling by Prox","server":"53288f5b.596ec","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"proximity.home_delia","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"v2ycr3nut8l","targetType":"entity_id","targetValue":"proximity.home_delia","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"50"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":500,"wires":[["47cb41a2.2a354"],["65237ab9.f28264"]]},{"id":"47cb41a2.2a354","type":"api-call-service","z":"2311f90c.29fb76","name":"Delia far","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.away_delia","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":460,"wires":[[]]},{"id":"65237ab9.f28264","type":"api-call-service","z":"2311f90c.29fb76","name":"Delia near","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.away_delia","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":520,"wires":[[]]},{"id":"4f4a7c60.3b5384","type":"trigger-state","z":"2311f90c.29fb76","name":"Staci travelling by Prox","server":"53288f5b.596ec","entityid":"proximity.home_staci","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"9jreeumdjsb","targetType":"entity_id","targetValue":"proximity.home_staci","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"50"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":680,"y":500,"wires":[["b21f0ad2.557358"],["3f2dad85.b21d62"]]},{"id":"b21f0ad2.557358","type":"api-call-service","z":"2311f90c.29fb76","name":"Staci far","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.away_staci","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":460,"wires":[[]]},{"id":"3f2dad85.b21d62","type":"api-call-service","z":"2311f90c.29fb76","name":"Staci near","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.away_staci","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":520,"wires":[[]]},{"id":"f8ec647c.932e28","type":"trigger-state","z":"2311f90c.29fb76","name":"Simon travelling by Prox","server":"53288f5b.596ec","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"proximity.home_simon","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"rw91pl0yv87","targetType":"entity_id","targetValue":"proximity.home_simon","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"50"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":640,"wires":[["40f02cc1.cd8334"],["2fbf8d30.177382"]]},{"id":"40f02cc1.cd8334","type":"api-call-service","z":"2311f90c.29fb76","name":"Simon far","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.away_simon","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":600,"wires":[[]]},{"id":"2fbf8d30.177382","type":"api-call-service","z":"2311f90c.29fb76","name":"Simon near","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.away_simon","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":660,"wires":[[]]},{"id":"ad8c2e18.38f5c","type":"trigger-state","z":"2311f90c.29fb76","name":"Megan travelling by Prox","server":"53288f5b.596ec","entityid":"proximity.home_meg","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"aivftzf0a7v","targetType":"entity_id","targetValue":"proximity.home_meg","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"50"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":690,"y":640,"wires":[["b9f181b4.5853"],["e19fdbeb.e35cd8"]]},{"id":"b9f181b4.5853","type":"api-call-service","z":"2311f90c.29fb76","name":"Megan far","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.away_megan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":600,"wires":[[]]},{"id":"e19fdbeb.e35cd8","type":"api-call-service","z":"2311f90c.29fb76","name":"Megan near","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.away_megan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":660,"wires":[[]]},{"id":"c721ebb8.eb2708","type":"discordSendMessage","z":"2311f90c.29fb76","name":"returning","channel":"568302023775092738","token":"532b3239.4bdaec","x":1800,"y":580,"wires":[]},{"id":"f72e8e21.784fa","type":"trigger-state","z":"2311f90c.29fb76","name":"Delia returning","server":"53288f5b.596ec","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.away_delia","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ryw4alczk7m","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"j0z9f13yon","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":1280,"y":500,"wires":[["c66b9d5e.81973"],[]]},{"id":"c66b9d5e.81973","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Welcome back to Canberra, Delia!","output":"str","x":1550,"y":480,"wires":[["c721ebb8.eb2708"]]},{"id":"f4916c53.299a5","type":"trigger-state","z":"2311f90c.29fb76","name":"Staci returning","server":"53288f5b.596ec","entityid":"input_boolean.away_staci","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ryw4alczk7m","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"j0z9f13yon","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":1280,"y":560,"wires":[["8b5497e8.a45f98"],[]]},{"id":"8b5497e8.a45f98","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Welcome back to Canberra, Staci!","output":"str","x":1550,"y":540,"wires":[["c721ebb8.eb2708"]]},{"id":"63db6098.29ee6","type":"trigger-state","z":"2311f90c.29fb76","name":"Megan returning","server":"53288f5b.596ec","entityid":"input_boolean.away_megan","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ryw4alczk7m","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"j0z9f13yon","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":1280,"y":620,"wires":[["b251398.6304bc8"],[]]},{"id":"b251398.6304bc8","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Welcome back to Canberra, Megan!","output":"str","x":1550,"y":600,"wires":[["c721ebb8.eb2708"]]},{"id":"26155acf.74b1e6","type":"trigger-state","z":"2311f90c.29fb76","name":"Simon returning","server":"53288f5b.596ec","entityid":"input_boolean.away_simon","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ryw4alczk7m","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"j0z9f13yon","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":1280,"y":680,"wires":[["13e1ceff.ff6ec1"],[]]},{"id":"13e1ceff.ff6ec1","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Welcome back to Canberra, Simon!","output":"str","x":1550,"y":660,"wires":[["c721ebb8.eb2708"]]},{"id":"fdf0b4e4.369178","type":"server-state-changed","z":"2311f90c.29fb76","name":"Simon","server":"53288f5b.596ec","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.simon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":60,"wires":[["807b607b.c5add"]]},{"id":"11ba42f9.d9d51d","type":"server-state-changed","z":"2311f90c.29fb76","name":"Megan","server":"53288f5b.596ec","version":1,"entityidfilter":"person.megan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":120,"wires":[["807b607b.c5add"]]},{"id":"39fc0447.5cc2cc","type":"server-state-changed","z":"2311f90c.29fb76","name":"Staci","server":"53288f5b.596ec","version":1,"entityidfilter":"person.staci","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":180,"wires":[["807b607b.c5add"]]},{"id":"2d2b2e0b.adce02","type":"server-state-changed","z":"2311f90c.29fb76","name":"Delia","server":"53288f5b.596ec","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.delia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":240,"wires":[["807b607b.c5add"]]},{"id":"88bced39.4edd3","type":"server-state-changed","z":"2311f90c.29fb76","name":"Guest","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.presence_guest","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":300,"wires":[["807b607b.c5add"]]},{"id":"807b607b.c5add","type":"switch","z":"2311f90c.29fb76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":180,"wires":[["aa84b95b.e0af78"]]},{"id":"aa84b95b.e0af78","type":"api-current-state","z":"2311f90c.29fb76","name":"Simon home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.simon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":180,"wires":[["9334f9d6.bbe5c8","154fc467.785fec"],["74332215.b73b5c"]]},{"id":"74332215.b73b5c","type":"api-current-state","z":"2311f90c.29fb76","name":"Megan home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.megan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":240,"wires":[["9334f9d6.bbe5c8"],["52d8084b.045f78"]]},{"id":"52d8084b.045f78","type":"api-current-state","z":"2311f90c.29fb76","name":"Staci home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.staci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":910,"y":280,"wires":[["9334f9d6.bbe5c8"],["b1510c63.910be"]]},{"id":"b1510c63.910be","type":"api-current-state","z":"2311f90c.29fb76","name":"Delia home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.delia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1150,"y":320,"wires":[["9334f9d6.bbe5c8"],["279fd575.e922da"]]},{"id":"279fd575.e922da","type":"api-current-state","z":"2311f90c.29fb76","name":"Guest home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_guest","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1400,"y":360,"wires":[["9334f9d6.bbe5c8"],["6f570116.30def"]]},{"id":"9334f9d6.bbe5c8","type":"api-call-service","z":"2311f90c.29fb76","name":"Someone Home","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.presence_mode","data":"{\"option\":\"Someone Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1640,"y":200,"wires":[[]]},{"id":"6f570116.30def","type":"api-call-service","z":"2311f90c.29fb76","name":"All Away","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.presence_mode","data":"{\"option\":\"All Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":400,"wires":[["5e14d43a.e6f1ec"]]},{"id":"154fc467.785fec","type":"api-current-state","z":"2311f90c.29fb76","name":"Megan home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.megan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":120,"wires":[["7a42615e.6fc85"],[]]},{"id":"7a42615e.6fc85","type":"api-current-state","z":"2311f90c.29fb76","name":"Staci home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.staci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":930,"y":100,"wires":[["f2ce4c1.33bfdb"],[]]},{"id":"f2ce4c1.33bfdb","type":"api-current-state","z":"2311f90c.29fb76","name":"Delia home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.delia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1150,"y":80,"wires":[["81d2262c.15cf88"],[]]},{"id":"81d2262c.15cf88","type":"api-call-service","z":"2311f90c.29fb76","name":"All Home","server":"53288f5b.596ec","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.presence_mode","data":"{\"option\":\"All Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":80,"wires":[["26391ba.05897e4"]]},{"id":"5188cba4.107ba4","type":"server-state-changed","z":"2311f90c.29fb76","name":"Simon Far","server":"53288f5b.596ec","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.away_simon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":820,"wires":[["4fda243b.e9a47c"]]},{"id":"ba01a9a5.f342f8","type":"server-state-changed","z":"2311f90c.29fb76","name":"Megan Far","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.away_megan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":880,"wires":[["4fda243b.e9a47c"]]},{"id":"2ade7983.83fe56","type":"server-state-changed","z":"2311f90c.29fb76","name":"Staci Far","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.away_staci","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":940,"wires":[["4fda243b.e9a47c"]]},{"id":"7898cbd1.160e54","type":"server-state-changed","z":"2311f90c.29fb76","name":"Delia Far","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.away_delia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":1000,"wires":[["4fda243b.e9a47c"]]},{"id":"4fda243b.e9a47c","type":"switch","z":"2311f90c.29fb76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":940,"wires":[["fbdb0d19.a1719"]]},{"id":"fbdb0d19.a1719","type":"api-current-state","z":"2311f90c.29fb76","name":"Simon far?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_simon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":940,"wires":[["2710ec77.6cd7a4"],["ad531c80.c10fd","e386aec3.714fc"]]},{"id":"2710ec77.6cd7a4","type":"api-current-state","z":"2311f90c.29fb76","name":"Megan far?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_megan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":900,"wires":[["434fe108.779c2"],["ad531c80.c10fd"]]},{"id":"434fe108.779c2","type":"api-current-state","z":"2311f90c.29fb76","name":"Staci far?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_staci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":860,"y":860,"wires":[["3a5f12bc.c5fcce"],["ad531c80.c10fd"]]},{"id":"3a5f12bc.c5fcce","type":"api-current-state","z":"2311f90c.29fb76","name":"Delia far?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_delia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1060,"y":840,"wires":[["9fbfb9cd.bf2e28"],["ad531c80.c10fd"]]},{"id":"9fbfb9cd.bf2e28","type":"api-call-service","z":"2311f90c.29fb76","name":"Holiday On","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.presence_holiday","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":780,"wires":[[]]},{"id":"38257d22.09c9c2","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Have a great holiday, I'll look after the house!","output":"str","x":1450,"y":1180,"wires":[["1417bcbc.259d93"]]},{"id":"1417bcbc.259d93","type":"discordSendMessage","z":"2311f90c.29fb76","name":"Holiday","channel":"568302023775092738","token":"532b3239.4bdaec","x":1680,"y":1140,"wires":[]},{"id":"3507014f.27eb9e","type":"api-call-service","z":"2311f90c.29fb76","name":"Holiday Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.presence_holiday","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":940,"wires":[[]]},{"id":"d188d69e.236118","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Welcome home!","output":"str","x":1450,"y":1080,"wires":[["1417bcbc.259d93"]]},{"id":"ad531c80.c10fd","type":"switch","z":"2311f90c.29fb76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":940,"wires":[["3507014f.27eb9e"]]},{"id":"da756f4b.1162b","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":2540,"wires":[["cdfebf67.b1d2","ac64e5a7.36a178","ae0dc373.58ffc","43c85f1d.d1d17","b8aae6fa.8db858","a54e4303.feb42"]]},{"id":"e5bbecaf.c9f25","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":1780,"wires":[["3896132f.8cf96c"]]},{"id":"80f8f2ad.55d2a","type":"api-current-state","z":"4e1213ca.a2449c","name":"Party mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_party","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":890,"y":1740,"wires":[[],["e5bbecaf.c9f25"]]},{"id":"e59f746b.e9b718","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":1420,"wires":[["ecfeb0c8.6c504"]]},{"id":"9e87979.9749d68","type":"api-call-service","z":"4e1213ca.a2449c","name":"TV Off","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"remote","service":"turn_off","entityId":"remote.harmony_hub","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":1900,"wires":[[]]},{"id":"c65f68e9.5ccfb8","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":1880,"wires":[["9e87979.9749d68","4e45e506.58aaac"]]},{"id":"d68295c6.739458","type":"api-current-state","z":"4e1213ca.a2449c","name":"Not All Home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.presence_allhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1160,"y":2280,"wires":[["eb14f452.a3b318"],["da756f4b.1162b"]]},{"id":"eb14f452.a3b318","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":2180,"wires":[["429ed262.122aac","63eaca64.f87284","1c7ddf1a.445b21","df0b2869.93efd8","6a3096c7.353688","c0aed4df.a59628","a54e4303.feb42","cdfebf67.b1d2"]]},{"id":"1008814b.55c3df","type":"server-state-changed","z":"d0718d85.be9c6","name":"Simon Bus Flag On","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.simon_bus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":95,"y":204.99999904632568,"wires":[["c3468728.c789a8"],[]]},{"id":"c3468728.c789a8","type":"api-current-state","z":"d0718d85.be9c6","name":"Simon Zone","server":"53288f5b.596ec","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.simon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":345,"y":184.99999904632568,"wires":[["e099dc9.258682","fee7f0d3.8cd16"]]},{"id":"e099dc9.258682","type":"switch","z":"d0718d85.be9c6","name":"Zones","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"UC_Bld7","vt":"str"},{"t":"eq","v":"Bruce_CIT","vt":"str"},{"t":"eq","v":"ANU_CBE","vt":"str"},{"t":"eq","v":"DJSB_CityWalk","vt":"str"},{"t":"eq","v":"DJSB_Mort","vt":"str"},{"t":"eq","v":"Tugg_College","vt":"str"},{"t":"eq","v":"SouthPort","vt":"str"},{"t":"eq","v":"AccerlatePhysio","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":525,"y":184.99999904632568,"wires":[["c4bbff16.0deb5"],["cd989146.f6785"],["cd989146.f6785"],["51ed42e6.8b999c"],["51ed42e6.8b999c"],["51ed42e6.8b999c"],["14165482.ab879b"],["14165482.ab879b"],[]]},{"id":"23239b58.7578e4","type":"discordSendMessage","z":"d0718d85.be9c6","name":"Bus message","channel":"568302023775092738","token":"532b3239.4bdaec","x":1420,"y":40,"wires":[]},{"id":"14165482.ab879b","type":"api-render-template","z":"d0718d85.be9c6","name":"79 Home","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.tugg_to_home_79_now', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.tugg_to_home_79_now', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.tugg_to_home_79_now', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    From Tugg {{route}} Dep {{hms[0]}}:{{hms[1]}}, Home by {{ahms[0]}}:{{ahms[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":795,"y":224.99999904632568,"wires":[["89f84ff8.be23d"]]},{"id":"fee7f0d3.8cd16","type":"api-call-service","z":"d0718d85.be9c6","name":"Simon Bus Flag Off","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.simon_bus","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":525,"y":64.99999904632568,"wires":[[]]},{"id":"cd989146.f6785","type":"api-render-template","z":"d0718d85.be9c6","name":"From UC","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.ucph_to_bel_31', 'origin_stop_departure_time') %}\n{% set departureC = state_attr('sensor.uc_to_city_rx', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.ucph_to_bel_31', 'destination_stop_arrival_time') %}\n{% set arrivalC = state_attr('sensor.uc_to_city_rx', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.ucph_to_bel_31', 'route_route_short_name') %}\n    {% set routeC = state_attr('sensor.uc_to_city_rx', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set departureC = departureC.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set arrivalC = arrivalC.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set hmsC = departureC[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    {% set ahmsC = arrivalC[1].split(':') %}\n    From UC {{route}} Dep {{hms[0]}}:{{hms[1]}}, Bel by {{ahms[0]}}:{{ahms[1]}} OR {{routeC}} Dep {{hmsC[0]}}:{{hmsC[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":795,"y":104.99999904632568,"wires":[["89f84ff8.be23d"]]},{"id":"51ed42e6.8b999c","type":"api-render-template","z":"d0718d85.be9c6","name":"From ANU (S)","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.anu_to_woden_r4', 'origin_stop_departure_time') %}\n{% set departureC = state_attr('sensor.citywest_to_woden_r5', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.anu_to_woden_r4', 'destination_stop_arrival_time') %}\n{% set arrivalC = state_attr('sensor.citywest_to_woden_r5', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.anu_to_woden_r4', 'route_route_short_name') %}\n    {% set routeC = state_attr('sensor.citywest_to_woden_r5', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set departureC = departureC.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set arrivalC = arrivalC.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set hmsC = departureC[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    {% set ahmsC = arrivalC[1].split(':') %}\n    From ANU {{route}} Dep {{hms[0]}}:{{hms[1]}}, Woden by {{ahms[0]}}:{{ahms[1]}} OR {{routeC}} Dep {{hmsC[0]}}:{{hmsC[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":815,"y":164.99999904632568,"wires":[["89f84ff8.be23d"]]},{"id":"c4bbff16.0deb5","type":"api-render-template","z":"d0718d85.be9c6","name":"From Home","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.home_to_tugg_79_ej', 'origin_stop_departure_time') %}\n{% set departureC = state_attr('sensor.home_to_city_r5_out', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.home_to_tugg_79_ej', 'destination_stop_arrival_time') %}\n{% set arrivalC = state_attr('sensor.home_to_city_r5_out', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.home_to_tugg_79_ej', 'route_route_short_name') %}\n    {% set routeC = state_attr('sensor.home_to_city_r5_out', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set departureC = departureC.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set arrivalC = arrivalC.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set hmsC = departureC[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    {% set ahmsC = arrivalC[1].split(':') %}\n    From Home {{route}} Dep {{hms[0]}}:{{hms[1]}}, Tugg by {{ahms[0]}}:{{ahms[1]}} OR {{routeC}} Dep {{hmsC[0]}}:{{hmsC[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":805,"y":64.99999904632568,"wires":[["89f84ff8.be23d"]]},{"id":"658bc602.d3b608","type":"api-call-service","z":"d0718d85.be9c6","name":"Delia Bus Flag Off","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.delia_bus","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":360,"wires":[[]]},{"id":"f4fa82dc.4fa3f","type":"api-current-state","z":"d0718d85.be9c6","name":"Delia Zone","server":"53288f5b.596ec","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.delia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":480,"wires":[["ba85189b.d20468","658bc602.d3b608"]]},{"id":"3b9a526.8d994ae","type":"server-state-changed","z":"d0718d85.be9c6","name":"Delia Bus Flag On","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.delia_bus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":500,"wires":[["f4fa82dc.4fa3f"],[]]},{"id":"ba85189b.d20468","type":"switch","z":"d0718d85.be9c6","name":"Zones","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"UC_Bld7","vt":"str"},{"t":"eq","v":"Bruce_CIT","vt":"str"},{"t":"eq","v":"ANU_CBE","vt":"str"},{"t":"eq","v":"DJSB_CityWalk","vt":"str"},{"t":"eq","v":"DJSB_Mort","vt":"str"},{"t":"eq","v":"Tugg_College","vt":"str"},{"t":"eq","v":"SouthPort","vt":"str"},{"t":"eq","v":"AccerlatePhysio","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":530,"y":480,"wires":[["b0c7ec14.45524"],[],[],[],[],[],["bf7fff47.7789d"],["bf7fff47.7789d"],[]]},{"id":"b0c7ec14.45524","type":"api-render-template","z":"d0718d85.be9c6","name":"From Home","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.home_to_tugg_79_ej', 'origin_stop_departure_time') %}\n{% set departureC = state_attr('sensor.home_to_city_r5_out', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.home_to_tugg_79_ej', 'destination_stop_arrival_time') %}\n{% set arrivalC = state_attr('sensor.home_to_city_r5_out', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.home_to_tugg_79_ej', 'route_route_short_name') %}\n    {% set routeC = state_attr('sensor.home_to_city_r5_out', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set departureC = departureC.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set arrivalC = arrivalC.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set hmsC = departureC[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    {% set ahmsC = arrivalC[1].split(':') %}\n    From Home {{route}} Dep {{hms[0]}}:{{hms[1]}}, Tugg by {{ahms[0]}}:{{ahms[1]}} OR {{routeC}} Dep {{hmsC[0]}}:{{hmsC[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":810,"y":420,"wires":[["a507d02a.a2762"]]},{"id":"bf7fff47.7789d","type":"api-render-template","z":"d0718d85.be9c6","name":"79 Home","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.tugg_to_home_79_now', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.tugg_to_home_79_now', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.tugg_to_home_79_now', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    From Tugg {{route}} Dep {{hms[0]}}:{{hms[1]}}, Home by {{ahms[0]}}:{{ahms[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":800,"y":500,"wires":[["a507d02a.a2762"]]},{"id":"e8dbea17.988f68","type":"discordSendMessage","z":"d0718d85.be9c6","name":"Bus message","channel":"568302023775092738","token":"532b3239.4bdaec","x":1420,"y":500,"wires":[]},{"id":"76703186.0bd51","type":"server-state-changed","z":"d0718d85.be9c6","name":"Staci Bus Flag On","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.staci_bus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":780,"wires":[["1b8a3314.638d0d"],[]]},{"id":"1b8a3314.638d0d","type":"api-current-state","z":"d0718d85.be9c6","name":"Staci Zone","server":"53288f5b.596ec","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.staci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":760,"wires":[["4850404c.0c98","688cf73c.b96aa8"]]},{"id":"4850404c.0c98","type":"switch","z":"d0718d85.be9c6","name":"Zones","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"UC_Bld7","vt":"str"},{"t":"eq","v":"Bruce_CIT","vt":"str"},{"t":"eq","v":"ANU_CBE","vt":"str"},{"t":"eq","v":"DJSB_CityWalk","vt":"str"},{"t":"eq","v":"DJSB_Mort","vt":"str"},{"t":"eq","v":"Tugg_College","vt":"str"},{"t":"eq","v":"SouthPort","vt":"str"},{"t":"eq","v":"AccerlatePhysio","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":540,"y":760,"wires":[["afc29d42.3107b"],[],["22573336.087edc"],[],[],[],["d04ef37d.c7b23"],["d04ef37d.c7b23"],[]]},{"id":"26d284ea.eaea0c","type":"discordSendMessage","z":"d0718d85.be9c6","name":"Bus message","channel":"568302023775092738","token":"532b3239.4bdaec","x":1400,"y":800,"wires":[]},{"id":"d04ef37d.c7b23","type":"api-render-template","z":"d0718d85.be9c6","name":"79 Home","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.tugg_to_home_79_now', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.tugg_to_home_79_now', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.tugg_to_home_79_now', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    From Tugg {{route}} Dep {{hms[0]}}:{{hms[1]}}, Home by {{ahms[0]}}:{{ahms[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":810,"y":800,"wires":[["58b1dc06.450fd4"]]},{"id":"688cf73c.b96aa8","type":"api-call-service","z":"d0718d85.be9c6","name":"Staci Bus Flag Off","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.staci_bus","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":640,"wires":[[]]},{"id":"22573336.087edc","type":"api-render-template","z":"d0718d85.be9c6","name":"From CIT","server":"53288f5b.596ec","template":"{% set departureC = state_attr('sensor.uc_to_city_rx', 'origin_stop_departure_time') %}\n{% set arrivalC = state_attr('sensor.uc_to_city_rx', 'destination_stop_arrival_time') %}\n{% if departureC != None %}\n    {% set routeC = state_attr('sensor.uc_to_city_rx', 'route_route_short_name') %}\n    {% set departureC = departureC.split(' ') %}\n    {% set arrivalC = arrivalC.split(' ') %}\n    {% set hmsC = departureC[1].split(':') %}\n    {% set ahmsC = arrivalC[1].split(':') %}\n    From CIT {{routeC}} Dep {{hmsC[0]}}:{{hmsC[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":820,"y":740,"wires":[["58b1dc06.450fd4"]]},{"id":"afc29d42.3107b","type":"api-render-template","z":"d0718d85.be9c6","name":"From Home","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.home_to_tugg_79_ej', 'origin_stop_departure_time') %}\n{% set departureC = state_attr('sensor.home_to_city_r5_out', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.home_to_tugg_79_ej', 'destination_stop_arrival_time') %}\n{% set arrivalC = state_attr('sensor.home_to_city_r5_out', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.home_to_tugg_79_ej', 'route_route_short_name') %}\n    {% set routeC = state_attr('sensor.home_to_city_r5_out', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set departureC = departureC.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set arrivalC = arrivalC.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set hmsC = departureC[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    {% set ahmsC = arrivalC[1].split(':') %}\n    From Home {{route}} Dep {{hms[0]}}:{{hms[1]}}, Tugg by {{ahms[0]}}:{{ahms[1]}} OR {{routeC}} Dep {{hmsC[0]}}:{{hmsC[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":830,"y":680,"wires":[["58b1dc06.450fd4"]]},{"id":"259fa91f.dc2b36","type":"api-call-service","z":"3536a43f.46fefc","name":"Master Light Off","server":"53288f5b.596ec","version":1,"service_domain":"script","service":"master_fan_light_off","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":240,"wires":[[]]},{"id":"1647c7c5.76bca8","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Garage Just Flag Off","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.garage_just","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":640,"wires":[[]]},{"id":"d8faaed4.63e92","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Outback Just Flag Off","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.outback_just","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":700,"wires":[[]]},{"id":"26391ba.05897e4","type":"api-call-service","z":"2311f90c.29fb76","name":"Turn off Flags (Returning)","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.mode_return_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1930,"y":60,"wires":[[]]},{"id":"eb16534f.347f8","type":"api-call-service","z":"2311f90c.29fb76","name":"Switches Off","server":"53288f5b.596ec","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.lounge_chairs, switch.lounge_tv, switch.study_printer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":1720,"wires":[[]]},{"id":"a745f8e5.81e198","type":"api-call-service","z":"2311f90c.29fb76","name":"Switches On","server":"53288f5b.596ec","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.lounge_chairs, switch.lounge_tv, switch.study_printer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":1380,"wires":[[]]},{"id":"e386aec3.714fc","type":"api-current-state","z":"2311f90c.29fb76","name":"Megan near?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_megan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":1040,"wires":[["10153b7d.470cb5"],[]]},{"id":"10153b7d.470cb5","type":"api-current-state","z":"2311f90c.29fb76","name":"Staci near?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_staci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":870,"y":1060,"wires":[["9721f2fa.1b9b9"],[]]},{"id":"9721f2fa.1b9b9","type":"api-current-state","z":"2311f90c.29fb76","name":"Delia near?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_delia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1070,"y":1080,"wires":[["d188d69e.236118"],[]]},{"id":"21a27721.ca4818","type":"server-state-changed","z":"2311f90c.29fb76","name":"Holiday Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.presence_holiday","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":1160,"wires":[["518e557d.f9c46c"]]},{"id":"518e557d.f9c46c","type":"switch","z":"2311f90c.29fb76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1160,"wires":[["fba67f76.91864"],["38257d22.09c9c2"]]},{"id":"fba67f76.91864","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Turning Holiday Mode off!","output":"str","x":1450,"y":1140,"wires":[["1417bcbc.259d93"]]},{"id":"429ed262.122aac","type":"api-current-state","z":"4e1213ca.a2449c","name":"Simon home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.simon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1960,"y":2080,"wires":[["62a13a4a.a32254"],[]]},{"id":"63eaca64.f87284","type":"api-current-state","z":"4e1213ca.a2449c","name":"Megan home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.megan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1960,"y":2120,"wires":[["240f6af9.503b36"],[]]},{"id":"1c7ddf1a.445b21","type":"api-current-state","z":"4e1213ca.a2449c","name":"Staci home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.staci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1950,"y":2160,"wires":[["f2d136c8.805728"],[]]},{"id":"df0b2869.93efd8","type":"api-current-state","z":"4e1213ca.a2449c","name":"Delia home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.delia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1950,"y":2200,"wires":[["8a1d3594.cd2308"],[]]},{"id":"b89da2a8.2e8e7","type":"server-state-changed","z":"22d9cd14.7f66f2","name":"Cold Now","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.climate_cold_turn_on_warming","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":80,"wires":[["1a8c3110.56e73f"],["9585361e.e0ca88"]]},{"id":"1a8c3110.56e73f","type":"template","z":"22d9cd14.7f66f2","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Cold now, turn on warming!","output":"str","x":380,"y":60,"wires":[[]]},{"id":"9c50b6c6.bb13b8","type":"discordSendMessage","z":"22d9cd14.7f66f2","name":"Climate","channel":"568302023775092738","token":"532b3239.4bdaec","x":810,"y":80,"wires":[]},{"id":"9585361e.e0ca88","type":"template","z":"22d9cd14.7f66f2","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Warm now, turn off warming!","output":"str","x":380,"y":100,"wires":[[]]},{"id":"6af344dd.35761c","type":"google","z":"c1fab521.8def38","name":"hassio","google":"1644aeb.2735951","api":"calendar:v3","operation":"events.list","x":810,"y":1540,"wires":[["2049905e.789cb","cd823c07.66a88"]]},{"id":"feaaa5d1.93f468","type":"inject","z":"c1fab521.8def38","name":"Trigger Calendar Update","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1320,"wires":[["41b6e863.c80308"]]},{"id":"d502db72.da6218","type":"template","z":"c1fab521.8def38","name":"Calendar Call","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"calendarId\": \"hassio@thompson-hq.net\",\n    \"maxResults\": \"10\",\n    \"orderBy\": \"startTime\",\n    \"timeMin\": \"{{payload}}\",\n    \"singleEvents\": \"true\"\n}\n","output":"json","x":780,"y":1320,"wires":[["6af344dd.35761c"]]},{"id":"41b6e863.c80308","type":"moment","z":"c1fab521.8def38","name":"convert to ISO8601","topic":"","input":"","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"","outputType":"msg","outTz":"Australia/Sydney","x":530,"y":1320,"wires":[["d502db72.da6218"]]},{"id":"71cfefed.8fa72","type":"json","z":"c1fab521.8def38","name":"to JSON","property":"payload","action":"str","pretty":false,"x":1180,"y":1540,"wires":[["ddc94a35.a25518","27b81486.e36f8c"]]},{"id":"27b81486.e36f8c","type":"switch","z":"c1fab521.8def38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"cook","vt":"str","case":true},{"t":"regex","v":"bin","vt":"str","case":true},{"t":"regex","v":"skip","vt":"str","case":true},{"t":"regex","v":"green","vt":"str","case":true},{"t":"regex","v":"dandd","vt":"str","case":true},{"t":"regex","v":"cleaner","vt":"str","case":true},{"t":"regex","v":"recycling","vt":"str","case":true},{"t":"regex","v":"morning","vt":"str","case":true},{"t":"regex","v":"tv","vt":"str","case":true},{"t":"regex","v":"guest","vt":"str","case":true}],"checkall":"false","repair":false,"outputs":10,"x":1310,"y":1660,"wires":[["cc0ae85d.4c3538"],["be1ed6db.71fdc8"],["be1ed6db.71fdc8"],["be1ed6db.71fdc8"],["be1ed6db.71fdc8"],["be1ed6db.71fdc8"],["be1ed6db.71fdc8"],["c8135167.7811f"],["7d023592.9dd68c","c8135167.7811f"],["7d023592.9dd68c","c8135167.7811f"]]},{"id":"ddc94a35.a25518","type":"debug","z":"c1fab521.8def38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1310,"y":1460,"wires":[]},{"id":"2049905e.789cb","type":"function","z":"c1fab521.8def38","name":"Get items","func":"var obj = msg.payload;\nvar m_out = [];\nvar items = obj.items;\nvar setcook = true;\n\nfor(var i=0; i<10;i++) {\n    if (items[i][\"summary\"].toString().toLowerCase().includes(\"cook\")) {\n        if (setcook === true) {\n            setcook = false;\n            msg = { payload: items[i] };\n            m_out.push(msg);\n        }\n    } else {\n        msg = { payload: items[i] };\n        m_out.push(msg);\n    }\n}\n\nreturn [m_out[0], m_out[1],m_out[2],m_out[3],m_out[4],m_out[5],m_out[6],m_out[7],m_out[8],m_out[9]];","outputs":10,"noerr":0,"x":980,"y":1540,"wires":[["71cfefed.8fa72"],["71cfefed.8fa72"],["71cfefed.8fa72"],["71cfefed.8fa72"],["71cfefed.8fa72"],["71cfefed.8fa72"],["71cfefed.8fa72"],["71cfefed.8fa72"],["71cfefed.8fa72"],["71cfefed.8fa72"]]},{"id":"8e8ba9df.e69c68","type":"function","z":"c1fab521.8def38","name":"Cook Details","func":"var obj = msg.payload;\n\nreturn { payload: obj[\"summary\"].toString().substr(0,2) };","outputs":1,"noerr":0,"x":1690,"y":1380,"wires":[["cec7468f.2b1dd8"]]},{"id":"cc0ae85d.4c3538","type":"json","z":"c1fab521.8def38","name":"To Object","property":"payload","action":"","pretty":false,"x":1500,"y":1420,"wires":[["8e8ba9df.e69c68"]]},{"id":"b891b0d2.8ae5d","type":"api-call-service","z":"c1fab521.8def38","name":"Set cooking Simon","server":"53288f5b.596ec","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.cooking","data":"{\"option\": \"Simon\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2070,"y":1240,"wires":[[]]},{"id":"cec7468f.2b1dd8","type":"switch","z":"c1fab521.8def38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"si","vt":"str","case":true},{"t":"regex","v":"me","vt":"str","case":true},{"t":"regex","v":"st","vt":"str","case":true},{"t":"regex","v":"de","vt":"str","case":true},{"t":"regex","v":"ea","vt":"str","case":true},{"t":"regex","v":"go","vt":"str","case":true}],"checkall":"false","repair":false,"outputs":6,"x":1850,"y":1380,"wires":[["b891b0d2.8ae5d"],["eecfebdc.deab58"],["b57147c3.0ec938"],["21c9b2f5.cc9c7e"],["66403fe6.8ac0c"],["6fd9ab26.582dd4"]]},{"id":"eecfebdc.deab58","type":"api-call-service","z":"c1fab521.8def38","name":"Set cooking Megan","server":"53288f5b.596ec","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.cooking","data":"{\"option\": \"Megan\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2070,"y":1300,"wires":[[]]},{"id":"b57147c3.0ec938","type":"api-call-service","z":"c1fab521.8def38","name":"Set cooking Staci","server":"53288f5b.596ec","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.cooking","data":"{\"option\": \"Staci\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2070,"y":1360,"wires":[[]]},{"id":"21c9b2f5.cc9c7e","type":"api-call-service","z":"c1fab521.8def38","name":"Set cooking Delia","server":"53288f5b.596ec","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.cooking","data":"{\"option\": \"Delia\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2070,"y":1420,"wires":[[]]},{"id":"66403fe6.8ac0c","type":"api-call-service","z":"c1fab521.8def38","name":"Set cooking Easy","server":"53288f5b.596ec","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.cooking","data":"{\"option\": \"Easy\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2070,"y":1480,"wires":[[]]},{"id":"6fd9ab26.582dd4","type":"api-call-service","z":"c1fab521.8def38","name":"Set cooking Going Out","server":"53288f5b.596ec","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.cooking","data":"{\"option\": \"Going Out\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2080,"y":1540,"wires":[[]]},{"id":"be1ed6db.71fdc8","type":"json","z":"c1fab521.8def38","name":"to Object","property":"payload","action":"obj","pretty":false,"x":1500,"y":1600,"wires":[["8e60bd20.91a56"]]},{"id":"8e60bd20.91a56","type":"function","z":"c1fab521.8def38","name":"Start Date Details","func":"var obj = msg.payload;\n\nreturn { topic: obj.summary.toString(), payload: obj.start.date.toString() };","outputs":1,"noerr":0,"x":1650,"y":1660,"wires":[["ea029297.43d0a"]]},{"id":"6519c476.87c74c","type":"api-call-service","z":"c1fab521.8def38","name":"Set next bin date","server":"53288f5b.596ec","version":1,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.cal_bin","data":"{\"date\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2070,"y":1600,"wires":[[]]},{"id":"b3c8f324.65d5d","type":"change","z":"c1fab521.8def38","name":"Now","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1220,"wires":[["41b6e863.c80308"]]},{"id":"c2f4960d.bfcb18","type":"server-state-changed","z":"c1fab521.8def38","name":"Calendar Update","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.cal_trigger_cal","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":1220,"wires":[["b3c8f324.65d5d"]]},{"id":"c8135167.7811f","type":"json","z":"c1fab521.8def38","name":"to Object","property":"payload","action":"obj","pretty":false,"x":1500,"y":1840,"wires":[["afc314b1.87a958","44b3223b.ee0d4c"]]},{"id":"7d023592.9dd68c","type":"json","z":"c1fab521.8def38","name":"to Object","property":"payload","action":"obj","pretty":false,"x":1480,"y":2000,"wires":[["de26b3ba.6465f"]]},{"id":"ea029297.43d0a","type":"switch","z":"c1fab521.8def38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"bin","vt":"str","case":true},{"t":"regex","v":"skip","vt":"str","case":true},{"t":"regex","v":"green","vt":"str","case":true},{"t":"regex","v":"dandd","vt":"str","case":true},{"t":"regex","v":"cleaner","vt":"str","case":true},{"t":"regex","v":"recycling","vt":"str","case":true}],"checkall":"false","repair":false,"outputs":6,"x":1830,"y":1720,"wires":[["6519c476.87c74c"],["4c939117.d19b5"],["eeacddf9.e7c25"],["b1e41428.042fb8"],["c0cc8f3f.48064"],["24277fa2.e45ca"]]},{"id":"4c939117.d19b5","type":"api-call-service","z":"c1fab521.8def38","name":"Set next skip bin date","server":"53288f5b.596ec","version":1,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.cal_skp","data":"{\"date\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2080,"y":1660,"wires":[[]]},{"id":"eeacddf9.e7c25","type":"api-call-service","z":"c1fab521.8def38","name":"Set next green waste date","server":"53288f5b.596ec","version":1,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.cal_grw","data":"{\"date\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2090,"y":1720,"wires":[[]]},{"id":"b1e41428.042fb8","type":"api-call-service","z":"c1fab521.8def38","name":"Set next D&D date","server":"53288f5b.596ec","version":1,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.cal_dnd","data":"{\"date\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2070,"y":1780,"wires":[[]]},{"id":"c0cc8f3f.48064","type":"api-call-service","z":"c1fab521.8def38","name":"Set next Cleaner date","server":"53288f5b.596ec","version":1,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.cal_cln","data":"{\"date\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2080,"y":1840,"wires":[[]]},{"id":"24277fa2.e45ca","type":"api-call-service","z":"c1fab521.8def38","name":"Set next Recycling date","server":"53288f5b.596ec","version":1,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.cal_rec","data":"{\"date\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2090,"y":1900,"wires":[[]]},{"id":"afc314b1.87a958","type":"function","z":"c1fab521.8def38","name":"Start Datetime Details","func":"var obj = msg.payload;\n\nreturn { topic: obj.summary.toString(), payload: obj.start.dateTime.toString() };","outputs":1,"noerr":0,"x":1680,"y":1880,"wires":[["17ca7a9a.e8c135"]]},{"id":"bdc03f1b.a2658","type":"api-call-service","z":"c1fab521.8def38","name":"Set next Morning date","server":"53288f5b.596ec","version":1,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.cal_mrn","data":"{    \"datetime\": \"{{payload}}\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2080,"y":2080,"wires":[[]]},{"id":"de26b3ba.6465f","type":"function","z":"c1fab521.8def38","name":"End Datetime Details","func":"var obj = msg.payload;\n\nreturn { topic: obj.summary.toString(), payload: obj.end.dateTime.toString() };","outputs":1,"noerr":0,"x":1680,"y":2120,"wires":[["52e2e4db.502ffc"]]},{"id":"af0f7066.b1a43","type":"api-call-service","z":"c1fab521.8def38","name":"Set next Guest start date","server":"53288f5b.596ec","version":1,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.cal_guest_start","data":"{    \"datetime\": \"{{payload}}\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2090,"y":1960,"wires":[[]]},{"id":"b2cb5322.d3cfd","type":"api-call-service","z":"c1fab521.8def38","name":"Set next TV start date","server":"53288f5b.596ec","version":1,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.cal_tv_start","data":"{    \"datetime\": \"{{payload}}\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2080,"y":2020,"wires":[[]]},{"id":"6fdbdcb9.ec7294","type":"api-call-service","z":"c1fab521.8def38","name":"Set next Guest end date","server":"53288f5b.596ec","version":1,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.cal_guest_stop","data":"{    \"datetime\": \"{{payload}}\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2090,"y":2140,"wires":[[]]},{"id":"ae467080.988de","type":"api-call-service","z":"c1fab521.8def38","name":"Set next TV end date","server":"53288f5b.596ec","version":1,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.cal_tv_stop","data":"{    \"datetime\": \"{{payload}}\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2080,"y":2200,"wires":[[]]},{"id":"17ca7a9a.e8c135","type":"switch","z":"c1fab521.8def38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"guest","vt":"str","case":true},{"t":"regex","v":"tv","vt":"str","case":true},{"t":"regex","v":"morn","vt":"str","case":true}],"checkall":"false","repair":false,"outputs":3,"x":1850,"y":2020,"wires":[["af0f7066.b1a43"],["b2cb5322.d3cfd"],["bdc03f1b.a2658"]]},{"id":"52e2e4db.502ffc","type":"switch","z":"c1fab521.8def38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"guest","vt":"str","case":true},{"t":"regex","v":"tv","vt":"str","case":true}],"checkall":"false","repair":false,"outputs":2,"x":1870,"y":2160,"wires":[["6fdbdcb9.ec7294"],["ae467080.988de"]]},{"id":"cd823c07.66a88","type":"api-call-service","z":"c1fab521.8def38","name":"Calendar Trigger Off","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cal_trigger_cal","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":1740,"wires":[[]]},{"id":"44b3223b.ee0d4c","type":"debug","z":"c1fab521.8def38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1650,"y":1760,"wires":[]},{"id":"7bdaa74c.f49b08","type":"server-state-changed","z":"c1fab521.8def38","name":"TV On via Calendar","server":"53288f5b.596ec","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.cal_tv_on","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":420,"wires":[["466b2a63.a145f4"],["7706ce00.a55c7"]]},{"id":"4cdfcad8.f96ba4","type":"server-state-changed","z":"c1fab521.8def38","name":"Guest On via Calendar","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.cal_guest_on","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":260,"wires":[["dd897d80.ef7f9"],["a47ea900.a892d8"]]},{"id":"3b8acffd.fac6a","type":"server-state-changed","z":"c1fab521.8def38","name":"Morning On via Calendar","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.cal_morn_on","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":120,"wires":[["bbeb2daf.192f7"],[]]},{"id":"bbeb2daf.192f7","type":"api-call-service","z":"c1fab521.8def38","name":"Set Morning Mode On","server":"53288f5b.596ec","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.time_mode","data":"{\"option\": \"Morning\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":100,"wires":[[]]},{"id":"dd897d80.ef7f9","type":"api-call-service","z":"c1fab521.8def38","name":"Turn on Guest Flag","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.presence_guest","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":220,"wires":[[]]},{"id":"a47ea900.a892d8","type":"api-call-service","z":"c1fab521.8def38","name":"Turn off Guest Flag","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.presence_guest","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":280,"wires":[[]]},{"id":"466b2a63.a145f4","type":"api-call-service","z":"c1fab521.8def38","name":"Turn on TV Switch","server":"53288f5b.596ec","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.lounge_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":360,"wires":[["bf7d6ea8.0313d"]]},{"id":"b94eab50.9212f8","type":"api-call-service","z":"c1fab521.8def38","name":"Turn on TV","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"remote","service":"turn_on","entityId":"remote.harmony_hub","data":"{ \"activity\": \"40269245\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":360,"wires":[[]]},{"id":"bf7d6ea8.0313d","type":"delay","z":"c1fab521.8def38","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":360,"wires":[["b94eab50.9212f8"]]},{"id":"82e0046b.e42c98","type":"api-call-service","z":"c1fab521.8def38","name":"Turn off TV Switch","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lounge_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":460,"wires":[[]]},{"id":"7706ce00.a55c7","type":"api-call-service","z":"c1fab521.8def38","name":"Turn off TV","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"remote","service":"turn_off","entityId":"remote.harmony_hub","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":460,"wires":[["d273e6a1.68df88"]]},{"id":"d273e6a1.68df88","type":"delay","z":"c1fab521.8def38","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":460,"wires":[["82e0046b.e42c98"]]},{"id":"78b820f0.63176","type":"server-state-changed","z":"22d9cd14.7f66f2","name":"Skin Type 1 change","server":"53288f5b.596ec","version":1,"entityidfilter":"sensor.skin_type_1_safe_exposure_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":240,"wires":[["48ad4445.e69bcc"]]},{"id":"f66ff4b.31b5a08","type":"template","z":"22d9cd14.7f66f2","name":"Message to Send about sunscreen","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You can only spend {{payload}} in the sun without burning.","output":"str","x":800,"y":240,"wires":[[]]},{"id":"9060cd48.5ecac","type":"switch","z":"22d9cd14.7f66f2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"60","vt":"str"},{"t":"gt","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":320,"wires":[["f66ff4b.31b5a08"],[]]},{"id":"7a2d92d7.5ebb7c","type":"debug","z":"22d9cd14.7f66f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":180,"wires":[]},{"id":"48ad4445.e69bcc","type":"function","z":"22d9cd14.7f66f2","name":"To Number","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["9060cd48.5ecac","7a2d92d7.5ebb7c"]]},{"id":"29b7c053.16fe4","type":"server-events","z":"3536a43f.46fefc","name":"Meg_button","server":"53288f5b.596ec","event_type":"smartthings.button","x":130,"y":620,"wires":[["d6fb9e16.66ec6","8eb848e4.5a1a18"]]},{"id":"d6fb9e16.66ec6","type":"debug","z":"3536a43f.46fefc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":740,"wires":[]},{"id":"8eb848e4.5a1a18","type":"function","z":"3536a43f.46fefc","name":"NameValue","func":"var obj = msg.payload;\n\nreturn { topic: obj[\"event\"][\"name\"], payload: obj[\"event\"][\"value\"] };\n","outputs":1,"noerr":0,"x":370,"y":620,"wires":[["c658933c.707b","d008a8c.b3e9958"]]},{"id":"c658933c.707b","type":"debug","z":"3536a43f.46fefc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":740,"wires":[]},{"id":"d008a8c.b3e9958","type":"switch","z":"3536a43f.46fefc","name":"Buttons","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Megs_Button","vt":"str"},{"t":"neq","v":"Megs_Button","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":580,"y":620,"wires":[["118177b6.a095d8","dbaa7d8e.7b736"],[]]},{"id":"118177b6.a095d8","type":"debug","z":"3536a43f.46fefc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":560,"wires":[]},{"id":"dbaa7d8e.7b736","type":"switch","z":"3536a43f.46fefc","name":"Megs_button","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pushed","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"held","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":850,"y":640,"wires":[["12809615.c7dd2a"],["255223df.cd475c"],["f4af6e14.b9eef"]]},{"id":"255223df.cd475c","type":"api-call-service","z":"3536a43f.46fefc","name":"Turn off Meg's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.megan_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":640,"wires":[["736c8945.afec08"]]},{"id":"f4af6e14.b9eef","type":"api-call-service","z":"3536a43f.46fefc","name":"Turn on Meg's Blanket","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.megan_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":700,"wires":[["6b813dd9.19b1a4"]]},{"id":"736c8945.afec08","type":"api-call-service","z":"3536a43f.46fefc","name":"Meg Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.bed_m_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":640,"wires":[[]]},{"id":"6b813dd9.19b1a4","type":"api-call-service","z":"3536a43f.46fefc","name":"Meg Timer Start","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"timer","service":"start","entityId":"timer.bed_m_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1320,"y":700,"wires":[[]]},{"id":"12809615.c7dd2a","type":"api-call-service","z":"3536a43f.46fefc","name":"Master Lightstrip Toggle","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.master_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":580,"wires":[[]]},{"id":"1bc0c316.87ac7d","type":"server-state-changed","z":"22d9cd14.7f66f2","name":"Cooling down - fan off","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.climate_cool_outside_off_fan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":580,"wires":[["2acd03b5.d4f8dc","353c20c.c9301e"],[]]},{"id":"2b1e23f8.424ffc","type":"server-state-changed","z":"22d9cd14.7f66f2","name":"Warming up - fan on","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.climate_hot_outside_on_fan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":480,"wires":[["e278a5b2.bcca68","d5ffea2.d149c18"],[]]},{"id":"e278a5b2.bcca68","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Fans on","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.fan, fan.fan_2, fan.fan_3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":460,"wires":[[]]},{"id":"2acd03b5.d4f8dc","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Fans off","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.fan, fan.fan_2, fan.fan_3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":560,"wires":[[]]},{"id":"d5ffea2.d149c18","type":"template","z":"22d9cd14.7f66f2","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Warm now, turning on fans!","output":"str","x":510,"y":500,"wires":[["9f0e07c4.8d6f38"]]},{"id":"9f0e07c4.8d6f38","type":"discordSendMessage","z":"22d9cd14.7f66f2","name":"Climate","channel":"568302023775092738","token":"532b3239.4bdaec","x":800,"y":520,"wires":[]},{"id":"353c20c.c9301e","type":"template","z":"22d9cd14.7f66f2","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Cool now, turning off fans!","output":"str","x":510,"y":600,"wires":[["9f0e07c4.8d6f38"]]},{"id":"f7d5d396.caf53","type":"server-state-changed","z":"22d9cd14.7f66f2","name":"Water Leak","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.water_leak_yes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":380,"wires":[["573a3703.a42c68"],[]]},{"id":"573a3703.a42c68","type":"template","z":"22d9cd14.7f66f2","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Something is leaking, check!","output":"str","x":490,"y":380,"wires":[["9f0e07c4.8d6f38"]]},{"id":"342a1d2f.465712","type":"server-state-changed","z":"4879c3b4.8a526c","name":"Temp","server":"53288f5b.596ec","version":1,"entityidfilter":"sensor.dishwasher_multipurpose_sensor_temperature_measurement","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":200,"wires":[["ed27ee0.677221"]]},{"id":"9f180b6.29851f8","type":"api-current-state","z":"4879c3b4.8a526c","name":"Dishwasher Closed","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.dishwasher_multipurpose_sensor_contact","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":100,"wires":[["cf88df9.e1e9d2"],[]]},{"id":"cf88df9.e1e9d2","type":"api-call-service","z":"4879c3b4.8a526c","name":"Flag on","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.dishwasher_notify_system","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":60,"wires":[[]]},{"id":"ed27ee0.677221","type":"switch","z":"4879c3b4.8a526c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"36","vt":"str"},{"t":"lt","v":"32","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":200,"wires":[["9f180b6.29851f8"],["1917b3cd.2b1b3c"]]},{"id":"1917b3cd.2b1b3c","type":"api-current-state","z":"4879c3b4.8a526c","name":"Flag on?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.dishwasher_notify_system","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":240,"wires":[["7e4d3f92.44579","3d4833a5.5aa9cc"],[]]},{"id":"7e4d3f92.44579","type":"api-call-service","z":"4879c3b4.8a526c","name":"Flag off","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.dishwasher_notify_system","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":180,"wires":[[]]},{"id":"fcb3789e.a1b6e8","type":"discordSendMessage","z":"4879c3b4.8a526c","name":"Appliance Messages","channel":"568302023775092738","token":"532b3239.4bdaec","x":1080,"y":360,"wires":[]},{"id":"3d4833a5.5aa9cc","type":"template","z":"4879c3b4.8a526c","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Dishwasher is finished!","output":"str","x":730,"y":260,"wires":[["fcb3789e.a1b6e8"]]},{"id":"bcbcc46b.7f9ca8","type":"server-state-changed","z":"4879c3b4.8a526c","name":"Washing Machine","server":"53288f5b.596ec","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.washing_machine_washer_machine_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"stop","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":380,"wires":[["230db97e.2167a6"],[]]},{"id":"230db97e.2167a6","type":"template","z":"4879c3b4.8a526c","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Washing Machine is finished!","output":"str","x":730,"y":360,"wires":[["fcb3789e.a1b6e8"]]},{"id":"85032bc7.ec9e08","type":"server-state-changed","z":"4879c3b4.8a526c","name":"Dryer","server":"53288f5b.596ec","version":1,"entityidfilter":"sensor.tumble_dryer_dryer_machine_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"stop","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":480,"wires":[["107930ff.192edf"],[]]},{"id":"107930ff.192edf","type":"template","z":"4879c3b4.8a526c","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Dryer is finished!","output":"str","x":730,"y":460,"wires":[["fcb3789e.a1b6e8"]]},{"id":"8c888115.ec9dc","type":"server-state-changed","z":"4e1213ca.a2449c","name":"Morning","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.mode_morning","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":160,"wires":[["2507e8d4.9f5cd8","d13e5f19.8b452","5ad017f7.1f8388"],[]]},{"id":"2507e8d4.9f5cd8","type":"api-current-state","z":"4e1213ca.a2449c","name":"Holiday mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_holiday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":100,"wires":[[],["7f7c19dd.1cd1d8"]]},{"id":"7f7c19dd.1cd1d8","type":"api-current-state","z":"4e1213ca.a2449c","name":"Presence - Away","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.presence_away","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":160,"wires":[[],["42d3420a.733fec"]]},{"id":"612b5399.c4e05c","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":80,"wires":[["2b9006f2.8bd0ca","b889a15d.86b38","c85c8a79.d75058","6f374c5f.32e264","ef1e2d59.3d90b"]]},{"id":"882075aa.f90458","type":"api-call-service","z":"4e1213ca.a2449c","name":"Ensuite Spot on 50%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.ensuite_spot","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1700,"y":60,"wires":[[]]},{"id":"42d3420a.733fec","type":"api-current-state","z":"4e1213ca.a2449c","name":"Workday?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.workday_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":880,"y":220,"wires":[["612b5399.c4e05c"],["8e7c8b42.515338"]]},{"id":"2b9006f2.8bd0ca","type":"api-call-service","z":"4e1213ca.a2449c","name":"Ensuite On","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.eshower","data":"{\"option\":\"Ensuite On\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":80,"wires":[["882075aa.f90458","1c509b10.abe9d5"]]},{"id":"1c509b10.abe9d5","type":"api-call-service","z":"4e1213ca.a2449c","name":"Ensuite Light off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.ensuite_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1680,"y":100,"wires":[[]]},{"id":"b889a15d.86b38","type":"api-call-service","z":"4e1213ca.a2449c","name":"Bathroom On","server":"53288f5b.596ec","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.bshower","data":"{\"option\":\"Bathroom On\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":140,"wires":[[]]},{"id":"c85c8a79.d75058","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn off Flags (Message, Returning)","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.send_message, input_boolean.mode_return_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":280,"wires":[[]]},{"id":"8e7c8b42.515338","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":340,"wires":[["c85c8a79.d75058","2aa3b26a.c889ae","32803817.2be3a8","6f374c5f.32e264","ef1e2d59.3d90b"]]},{"id":"963a9dc8.fbffe","type":"server-state-changed","z":"4e1213ca.a2449c","name":"Day","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.mode_day","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":620,"wires":[["8c4c2dfe.247bb","ed6610ac.0b03b","6a336a33.accc54"],[]]},{"id":"8c4c2dfe.247bb","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":620,"wires":[["236e0905.626fa6"]]},{"id":"a047a2f7.03206","type":"server-state-changed","z":"4e1213ca.a2449c","name":"Evening","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.mode_evening","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":940,"wires":[["4d27c94a.3e97c8","f424e6f4.5d8128"],[]]},{"id":"4d27c94a.3e97c8","type":"api-current-state","z":"4e1213ca.a2449c","name":"Holiday mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_holiday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":940,"wires":[["5a4e9460.71520c"],["b26b4817.a9a7e8"]]},{"id":"5a4e9460.71520c","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":900,"wires":[["1524ffe3.82ca9","58b99478.8148fc"]]},{"id":"1524ffe3.82ca9","type":"api-call-service","z":"4e1213ca.a2449c","name":"TV On","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"remote","service":"turn_on","entityId":"remote.harmony_hub","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":900,"wires":[[]]},{"id":"38aebe6a.3c1492","type":"api-current-state","z":"4e1213ca.a2449c","name":"Party mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_party","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":890,"y":1220,"wires":[["ab2aaabd.36faf8"],["d742abb4.4fbee8"]]},{"id":"ab2aaabd.36faf8","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":1140,"wires":[["cbe5eb0a.f2a078"]]},{"id":"d742abb4.4fbee8","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":1320,"wires":[["6c234509.3ccddc"]]},{"id":"33a2ec5f.c163b4","type":"server-state-changed","z":"4e1213ca.a2449c","name":"Party On","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.presence_party","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":1400,"wires":[["38aebe6a.3c1492"],["85875398.bf4ba"]]},{"id":"51314518.e8ce4c","type":"server-state-changed","z":"4e1213ca.a2449c","name":"Late","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.mode_late","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":1560,"wires":[["392d3012.273ff"],[]]},{"id":"392d3012.273ff","type":"api-current-state","z":"4e1213ca.a2449c","name":"Holiday mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_holiday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":1420,"wires":[["e59f746b.e9b718"],["804e77a6.5544a8","aa02f93a.178af8"]]},{"id":"f4f2651d.74ac48","type":"server-state-changed","z":"4e1213ca.a2449c","name":"Night","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.mode_night","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":1860,"wires":[["b9a75866.53a518"],[]]},{"id":"b9a75866.53a518","type":"api-current-state","z":"4e1213ca.a2449c","name":"Holiday mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_holiday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":1860,"wires":[["c65f68e9.5ccfb8"],["fd1c1ccd.9b474"]]},{"id":"85875398.bf4ba","type":"api-current-state","z":"4e1213ca.a2449c","name":"Party mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_party","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":910,"y":2140,"wires":[[],["d68295c6.739458"]]},{"id":"a404f3bc.9cd7e","type":"server-state-changed","z":"4e1213ca.a2449c","name":"Turn TV off","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.harmony","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"PowerOff","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":2400,"wires":[["c3590978.8b4238"],[]]},{"id":"c3590978.8b4238","type":"api-current-state","z":"4e1213ca.a2449c","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Night","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.time_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":2400,"wires":[["d68295c6.739458"],[]]},{"id":"fe2038de.b27958","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":2210,"y":2600,"wires":[["9470c775.836d38","cb888a6d.ff2b88"]]},{"id":"b26b4817.a9a7e8","type":"api-current-state","z":"4e1213ca.a2449c","name":"Presence - Away","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.presence_away","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":1040,"wires":[["d517518b.50648"],["38aebe6a.3c1492"]]},{"id":"804e77a6.5544a8","type":"api-current-state","z":"4e1213ca.a2449c","name":"Presence - Away","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.presence_away","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":1620,"wires":[["3033dc1b.612d44"],["80f8f2ad.55d2a"]]},{"id":"fd1c1ccd.9b474","type":"api-current-state","z":"4e1213ca.a2449c","name":"Presence - Away","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.presence_away","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":2100,"wires":[["58fcfbd5.7bf324"],["85875398.bf4ba"]]},{"id":"62a13a4a.a32254","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn off Simon's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.simon_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2330,"y":2080,"wires":[[]]},{"id":"240f6af9.503b36","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn off Meg's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.megan_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2320,"y":2120,"wires":[[]]},{"id":"f2d136c8.805728","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn off Staci's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.staci_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2320,"y":2160,"wires":[[]]},{"id":"8a1d3594.cd2308","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn off Delia's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.delia_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2330,"y":2200,"wires":[[]]},{"id":"2f974ff.3a55ab","type":"api-call-service","z":"4e1213ca.a2449c","name":"TV Lightstrip Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.lounge_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2300,"y":2000,"wires":[[]]},{"id":"cb8e45f8.bf40f8","type":"api-call-service","z":"4e1213ca.a2449c","name":"Kitchen On","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_2, light.kitchen_3, light.lounge_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2690,"y":2640,"wires":[["c144ad60.17a77"]]},{"id":"68652486.2f379c","type":"api-call-service","z":"4e1213ca.a2449c","name":"Kitchen Off","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_2, light.kitchen_3, light.lounge_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3110,"y":2640,"wires":[[]]},{"id":"2aa3b26a.c889ae","type":"api-call-service","z":"4e1213ca.a2449c","name":"Ensuite Motion","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.eshower","data":"{\"option\":\"Motion\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":460,"wires":[[]]},{"id":"32803817.2be3a8","type":"api-call-service","z":"4e1213ca.a2449c","name":"Bathroom Motion","server":"53288f5b.596ec","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.bshower","data":"{\"option\":\"Motion\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1410,"y":400,"wires":[[]]},{"id":"3033dc1b.612d44","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":1680,"wires":[["bf83f1de.48231"]]},{"id":"6a3096c7.353688","type":"api-call-service","z":"4e1213ca.a2449c","name":"Outside Arrive Lights","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.front_light","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1980,"y":1940,"wires":[[]]},{"id":"58fcfbd5.7bf324","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":2000,"wires":[["a0192b95.be6688"]]},{"id":"c0aed4df.a59628","type":"api-current-state","z":"4e1213ca.a2449c","name":"TV Off?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"remote.harmony_hub","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1940,"y":2000,"wires":[["2f974ff.3a55ab"],[]]},{"id":"d517518b.50648","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":1020,"wires":[["3902d0e4.77543"]]},{"id":"7fe79471.657d0c","type":"api-current-state","z":"2311f90c.29fb76","name":"Current Time Mode","server":"53288f5b.596ec","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.time_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":1460,"wires":[["57e33369.34c02c"]]},{"id":"57e33369.34c02c","type":"switch","z":"2311f90c.29fb76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Evening","vt":"str"},{"t":"eq","v":"Late","vt":"str"},{"t":"eq","v":"Night","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":790,"y":1460,"wires":[["ddcdf332.86bb"],["e8ff546e.21b8a8"],["e02d5615.eb99a8"]]},{"id":"ddcdf332.86bb","type":"api-call-service","z":"2311f90c.29fb76","name":"Set to Day","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.time_mode","data":"{\"option\":\"Day\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":1420,"wires":[["2bedd6de.3af72a"]]},{"id":"e8ff546e.21b8a8","type":"api-call-service","z":"2311f90c.29fb76","name":"Set to Day","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.time_mode","data":"{\"option\":\"Day\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":1460,"wires":[["6c8c539c.0026dc"]]},{"id":"e02d5615.eb99a8","type":"api-call-service","z":"2311f90c.29fb76","name":"Set to Late","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.time_mode","data":"{\"option\":\"Late\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":1500,"wires":[["a685d11e.5d61a","582a174d.46d528"]]},{"id":"26473979.2b2d76","type":"api-call-service","z":"2311f90c.29fb76","name":"Set to Evening","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.time_mode","data":"{\"option\":\"Evening\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1520,"y":1380,"wires":[["df2185f6.7341d8"]]},{"id":"bcb63ba7.3a47d8","type":"api-call-service","z":"2311f90c.29fb76","name":"Set to Late","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.time_mode","data":"{\"option\":\"Late\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1510,"y":1440,"wires":[["c9eb8e6f.3d4a7"]]},{"id":"3158d989.984c96","type":"api-call-service","z":"2311f90c.29fb76","name":"Set to Night","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.time_mode","data":"{\"option\":\"Night\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":1600,"wires":[[]]},{"id":"a685d11e.5d61a","type":"ha-wait-until","z":"2311f90c.29fb76","name":"","server":"53288f5b.596ec","outputs":2,"entityId":"","property":"","comparator":"is","value":"","valueType":"str","timeout":"10","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1260,"y":1600,"wires":[[],["3158d989.984c96"]]},{"id":"6c8c539c.0026dc","type":"ha-wait-until","z":"2311f90c.29fb76","name":"","server":"53288f5b.596ec","outputs":2,"entityId":"","property":"","comparator":"is","value":"","valueType":"str","timeout":"5","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1260,"y":1460,"wires":[[],["bcb63ba7.3a47d8"]]},{"id":"2bedd6de.3af72a","type":"ha-wait-until","z":"2311f90c.29fb76","name":"","server":"53288f5b.596ec","outputs":2,"entityId":"","property":"","comparator":"is","value":"","valueType":"str","timeout":"5","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1260,"y":1400,"wires":[[],["26473979.2b2d76"]]},{"id":"2c4bdf06.fcd7","type":"api-call-service","z":"2311f90c.29fb76","name":"Garage On","server":"53288f5b.596ec","version":1,"service_domain":"light","service":"turn_on","entityId":"light.garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2010,"y":1400,"wires":[[]]},{"id":"df2185f6.7341d8","type":"api-call-service","z":"2311f90c.29fb76","name":"Garage Motion","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":1380,"wires":[["2c4bdf06.fcd7"]]},{"id":"2149efa5.264fb","type":"api-call-service","z":"2311f90c.29fb76","name":"Garage On","server":"53288f5b.596ec","version":1,"service_domain":"light","service":"turn_on","entityId":"light.garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2030,"y":1460,"wires":[[]]},{"id":"c9eb8e6f.3d4a7","type":"api-call-service","z":"2311f90c.29fb76","name":"Garage Motion","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1780,"y":1440,"wires":[["2149efa5.264fb"]]},{"id":"378e99bf.218986","type":"api-call-service","z":"2311f90c.29fb76","name":"Garage On","server":"53288f5b.596ec","version":1,"service_domain":"light","service":"turn_on","entityId":"light.garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1490,"y":1540,"wires":[[]]},{"id":"582a174d.46d528","type":"api-call-service","z":"2311f90c.29fb76","name":"Garage Motion","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1280,"y":1540,"wires":[["378e99bf.218986"]]},{"id":"527af35e.ca8e4c","type":"api-current-state","z":"2311f90c.29fb76","name":"Current Time Mode","server":"53288f5b.596ec","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.time_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":1820,"wires":[["2f486d7f.9f5002"]]},{"id":"2f486d7f.9f5002","type":"switch","z":"2311f90c.29fb76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Morning","vt":"str"},{"t":"eq","v":"Day","vt":"str"},{"t":"eq","v":"Evening","vt":"str"},{"t":"eq","v":"Late","vt":"str"},{"t":"eq","v":"Night","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":770,"y":1820,"wires":[["cf4a0bf9.145228"],[],["f7510914.d00238"],["c28e5a35.6c1678"],["5059c6cb.bcc498"]]},{"id":"f7510914.d00238","type":"api-call-service","z":"2311f90c.29fb76","name":"Set to Late","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.time_mode","data":"{\"option\":\"Late\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":1820,"wires":[["7c22bfec.a1039"]]},{"id":"c28e5a35.6c1678","type":"api-call-service","z":"2311f90c.29fb76","name":"Set to Evening","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.time_mode","data":"{\"option\":\"Evening\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":1860,"wires":[["c6a7d4a1.38e358"]]},{"id":"5059c6cb.bcc498","type":"api-call-service","z":"2311f90c.29fb76","name":"Set to Late","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.time_mode","data":"{\"option\":\"Late\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":1900,"wires":[[]]},{"id":"cf4a0bf9.145228","type":"api-call-service","z":"2311f90c.29fb76","name":"Set to Day","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.time_mode","data":"{\"option\":\"Day\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":1780,"wires":[[]]},{"id":"7c22bfec.a1039","type":"ha-wait-until","z":"2311f90c.29fb76","name":"","server":"53288f5b.596ec","outputs":2,"entityId":"","property":"","comparator":"is","value":"","valueType":"str","timeout":"5","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1260,"y":1820,"wires":[[],["9d49b229.29261"]]},{"id":"c6a7d4a1.38e358","type":"ha-wait-until","z":"2311f90c.29fb76","name":"","server":"53288f5b.596ec","outputs":2,"entityId":"","property":"","comparator":"is","value":"","valueType":"str","timeout":"5","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1260,"y":1860,"wires":[[],["577dcd0c.1a8944"]]},{"id":"9d49b229.29261","type":"api-call-service","z":"2311f90c.29fb76","name":"Set to Evening","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.time_mode","data":"{\"option\":\"Evening\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1540,"y":1820,"wires":[[]]},{"id":"577dcd0c.1a8944","type":"api-call-service","z":"2311f90c.29fb76","name":"Set to Late","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.time_mode","data":"{\"option\":\"Late\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1530,"y":1860,"wires":[[]]},{"id":"4cdd7967.66c2e8","type":"server-state-changed","z":"2311f90c.29fb76","name":"Away","server":"53288f5b.596ec","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.presence_away","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":1540,"wires":[["a745f8e5.81e198","7fe79471.657d0c"],["eb16534f.347f8","527af35e.ca8e4c"]]},{"id":"dc483508.343888","type":"api-call-service","z":"d0718d85.be9c6","name":"Notify Simon","server":"53288f5b.596ec","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_pixel_3","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1390,"y":140,"wires":[[]]},{"id":"89f84ff8.be23d","type":"function","z":"d0718d85.be9c6","name":"Message","func":"obj = msg.payload;\nmsg = '{\"data\":{\"title\":\"Bus Times\", \"message\":\"' + obj + '\"}}';\nreturn { payload: msg };\n","outputs":1,"noerr":0,"x":1140,"y":140,"wires":[["dc483508.343888"]]},{"id":"6e265579.e5b87c","type":"api-call-service","z":"d0718d85.be9c6","name":"Notify Delia","server":"53288f5b.596ec","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_moto_g_5s_plus","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1390,"y":420,"wires":[[]]},{"id":"a507d02a.a2762","type":"function","z":"d0718d85.be9c6","name":"Message","func":"obj = msg.payload;\nmsg = '{\"data\":{\"title\":\"Bus Times\", \"message\":\"' + obj + '\"}}';\nreturn { payload: msg };\n","outputs":1,"noerr":0,"x":1120,"y":440,"wires":[["6e265579.e5b87c"]]},{"id":"338b245e.4c9fac","type":"api-call-service","z":"d0718d85.be9c6","name":"Notify Staci","server":"53288f5b.596ec","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_pixel_3a","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1390,"y":700,"wires":[[]]},{"id":"58b1dc06.450fd4","type":"function","z":"d0718d85.be9c6","name":"Message","func":"obj = msg.payload;\nmsg = '{\"data\":{\"title\":\"Bus Times\", \"message\":\"' + obj + '\"}}';\nreturn { payload: msg };\n","outputs":1,"noerr":0,"x":1100,"y":720,"wires":[["338b245e.4c9fac"]]},{"id":"ae0dc373.58ffc","type":"api-current-state","z":"4e1213ca.a2449c","name":"Front Door Open","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.fdoor_open","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1970,"y":2760,"wires":[["b650ac86.b71d1"],[]]},{"id":"43c85f1d.d1d17","type":"api-current-state","z":"4e1213ca.a2449c","name":"Back Door Open","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.bdoor_open","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1970,"y":2840,"wires":[["20c2a4a5.1d8fac"],[]]},{"id":"d5c3bab3.1e0388","type":"discordSendMessage","z":"4e1213ca.a2449c","name":"Night Door Messages","channel":"568302023775092738","token":"532b3239.4bdaec","x":2520,"y":2800,"wires":[]},{"id":"b650ac86.b71d1","type":"template","z":"4e1213ca.a2449c","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Front Door is open!","output":"str","x":2230,"y":2760,"wires":[["d5c3bab3.1e0388"]]},{"id":"20c2a4a5.1d8fac","type":"template","z":"4e1213ca.a2449c","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Back Door is open!","output":"str","x":2230,"y":2840,"wires":[["d5c3bab3.1e0388"]]},{"id":"557ce4.67d9e31c","type":"google","z":"c1fab521.8def38","name":"Create next fortnights cook","google":"1644aeb.2735951","api":"calendar:v3","operation":"events.insert","x":1340,"y":580,"wires":[[]]},{"id":"78810746.8ad478","type":"inject","z":"c1fab521.8def38","name":"Run Calendar Update","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"x":220,"y":640,"wires":[["2963f110.106aae"]]},{"id":"2d848aaf.194376","type":"debug","z":"c1fab521.8def38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":820,"wires":[]},{"id":"c144ad60.17a77","type":"delay","z":"4e1213ca.a2449c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2890,"y":2640,"wires":[["68652486.2f379c"]]},{"id":"2963f110.106aae","type":"api-current-state","z":"c1fab521.8def38","name":"Cook Calendar","server":"53288f5b.596ec","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.cook_calendar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":640,"wires":[["413daaaf.c2df34"]]},{"id":"11fb264.54931da","type":"function","z":"c1fab521.8def38","name":"build event","func":"var obj = msg.payload;\nvar hashpos = obj.search('#');\nvar personstr = obj.substr(0,hashpos+5);\n//date one week from now\nvar sd = new Date();\nsd.setDate(sd.getDate() + 15);\n\nvar setstr = `\n{ \n\"summary\":\"` + personstr + `\",\n\"start\": { \n\"date\":\"` + sd.toISOString().substr(0,10) + `\", \n\"timeZone\":\"Australia/Sydney\" }, \n\"end\": { \\\n\"date\":\"` + sd.toISOString().substr(0,10) + `\",  \n\"timeZone\":\"Australia/Sydney\" } \n}`;\n\nvar calId = \"hassio@thompson-hq.net\";\nvar eventobj = JSON.parse(setstr);\n\nmsg.payload = { calendarId: calId, resource: eventobj }; \nreturn msg;\n\n","outputs":1,"noerr":0,"x":990,"y":600,"wires":[["557ce4.67d9e31c"]]},{"id":"c73d9bd4.1785b8","type":"server-state-changed","z":"2311f90c.29fb76","name":"Front door opens","server":"53288f5b.596ec","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.fdoor_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":1280,"wires":[["ffc2d9fe.44a6d8"],[]]},{"id":"ffc2d9fe.44a6d8","type":"api-current-state","z":"2311f90c.29fb76","name":"All Away","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.presence_away","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":1280,"wires":[["ddadf438.cec958"],[]]},{"id":"ddadf438.cec958","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Front door opened while everyone away!","output":"str","x":1430,"y":1260,"wires":[["1417bcbc.259d93"]]},{"id":"23c1bf68.43968","type":"api-call-service","z":"c1fab521.8def38","name":"Simon Cook","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.cooking","data":"{\"option\":\"Simon\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1290,"y":680,"wires":[[]]},{"id":"413daaaf.c2df34","type":"switch","z":"c1fab521.8def38","name":"Cook?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Simon","vt":"str"},{"t":"cont","v":"Megan","vt":"str"},{"t":"cont","v":"Staci","vt":"str"},{"t":"cont","v":"Delia","vt":"str"},{"t":"cont","v":"Easy","vt":"str"},{"t":"cont","v":"Going","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":990,"y":720,"wires":[["23c1bf68.43968"],["4e1187f5.c09db8"],["ca137411.83fb68"],["b4693a61.22ae28"],["3c91c286.9ad5fe"],["d42190c.680917"]]},{"id":"4e1187f5.c09db8","type":"api-call-service","z":"c1fab521.8def38","name":"Megan Cook","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.cooking","data":"{\"option\":\"Megan\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1290,"y":720,"wires":[[]]},{"id":"ca137411.83fb68","type":"api-call-service","z":"c1fab521.8def38","name":"Staci Cook","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.cooking","data":"{\"option\":\"Staci\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1290,"y":760,"wires":[[]]},{"id":"b4693a61.22ae28","type":"api-call-service","z":"c1fab521.8def38","name":"Delia Cook","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.cooking","data":"{\"option\":\"Delia\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1290,"y":800,"wires":[[]]},{"id":"3c91c286.9ad5fe","type":"api-call-service","z":"c1fab521.8def38","name":"Easy Cook","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.cooking","data":"{\"option\":\"Easy\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1290,"y":840,"wires":[[]]},{"id":"d42190c.680917","type":"api-call-service","z":"c1fab521.8def38","name":"Going Out Cook","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.cooking","data":"{\"option\":\"Going Out\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1300,"y":880,"wires":[[]]},{"id":"6a336a33.accc54","type":"api-call-service","z":"4e1213ca.a2449c","name":"Check ACT Dams","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.check_dams","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":720,"wires":[[]]},{"id":"4cdb71c5.0d803","type":"api-current-state","z":"4e1213ca.a2449c","name":"Turn on Simon's Blanket?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.sbed","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1410,"y":1480,"wires":[["4c86f80a.0828d8"],[]]},{"id":"aa02f93a.178af8","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":1540,"wires":[["4cdb71c5.0d803","2ef97557.ff0aba","e06310ea.4c379","e9e4aab.d38d958"]]},{"id":"2ef97557.ff0aba","type":"api-current-state","z":"4e1213ca.a2449c","name":"Turn on Megan's Blanket?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mbed","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1410,"y":1520,"wires":[["9ebf8527.8bcec8"],[]]},{"id":"e06310ea.4c379","type":"api-current-state","z":"4e1213ca.a2449c","name":"Turn on Staci's Blanket?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.stbed","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1410,"y":1560,"wires":[["19515397.b73e0c"],[]]},{"id":"e9e4aab.d38d958","type":"api-current-state","z":"4e1213ca.a2449c","name":"Turn on Delia's Blanket?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.dbed","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1410,"y":1600,"wires":[["b9d4a7d8.4c78a8"],[]]},{"id":"9ebf8527.8bcec8","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Meg's Blanket","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.megan_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1700,"y":1520,"wires":[[]]},{"id":"4c86f80a.0828d8","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Simon's Blanket","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.simon_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1710,"y":1480,"wires":[[]]},{"id":"19515397.b73e0c","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Staci's Blanket","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.staci_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1700,"y":1560,"wires":[[]]},{"id":"b9d4a7d8.4c78a8","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Delia's Blanket","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.delia_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1710,"y":1600,"wires":[[]]},{"id":"de606b44.5e7c58","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Turn off Simon's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.simon_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":760,"wires":[["9f9e3772.22e908"]]},{"id":"f91f0c16.eb52","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Turn on Simon's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.simon_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":720,"wires":[["8dd835d7.24a368"]]},{"id":"9f9e3772.22e908","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Simon Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.bed_s_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":760,"wires":[[]]},{"id":"8dd835d7.24a368","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Simon Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.bed_s_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":720,"wires":[[]]},{"id":"d9e48f5d.6ee2c","type":"server-state-changed","z":"22d9cd14.7f66f2","name":"Simon Bed Switch On","server":"53288f5b.596ec","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bed_s","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":740,"wires":[["f91f0c16.eb52"],["de606b44.5e7c58"]]},{"id":"9f782a34.2bef98","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Turn off Meg's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.megan_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":860,"wires":[["e992f468.b85008"]]},{"id":"42ba412b.01265","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Turn on Meg's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.megan_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":820,"wires":[["e0ad8497.2a1b68"]]},{"id":"e992f468.b85008","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Meg Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.bed_m_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":860,"wires":[[]]},{"id":"e0ad8497.2a1b68","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Meg Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.bed_m_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":820,"wires":[[]]},{"id":"75b438df.144348","type":"server-state-changed","z":"22d9cd14.7f66f2","name":"Megan Bed Switch On","server":"53288f5b.596ec","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bed_m","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":840,"wires":[["42ba412b.01265"],["9f782a34.2bef98"]]},{"id":"4939a84e.a04758","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Turn off Staci's Blanket","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.staci_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":960,"wires":[["1ad0a688.b47899"]]},{"id":"100e86f7.f36cb9","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Turn on Staci's Blanket","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.staci_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":920,"wires":[["413c6e98.835aa"]]},{"id":"1ad0a688.b47899","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Staci Timer Cancel","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"timer","service":"cancel","entityId":"timer.bed_st_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":960,"wires":[[]]},{"id":"413c6e98.835aa","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Staci Timer Start","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"timer","service":"start","entityId":"timer.bed_st_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":920,"wires":[[]]},{"id":"1948fa86.2ef5e5","type":"server-state-changed","z":"22d9cd14.7f66f2","name":"Staci Bed Switch On","server":"53288f5b.596ec","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bed_st","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":940,"wires":[["100e86f7.f36cb9"],["4939a84e.a04758"]]},{"id":"466b1391.09e2cc","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Turn off Delia's Blanket","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.delia_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":1060,"wires":[["f065f22f.283bb"]]},{"id":"a182c2b4.ef1e1","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Turn on Delia's Blanket","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.delia_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":1020,"wires":[["873e73ae.2b998"]]},{"id":"f065f22f.283bb","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Delia Timer Cancel","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"timer","service":"cancel","entityId":"timer.bed_d_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":1060,"wires":[[]]},{"id":"873e73ae.2b998","type":"api-call-service","z":"22d9cd14.7f66f2","name":"Delia Timer Start","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"timer","service":"start","entityId":"timer.bed_d_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":1020,"wires":[[]]},{"id":"aa24cfc.e94b93","type":"server-state-changed","z":"22d9cd14.7f66f2","name":"Delia Bed Switch On","server":"53288f5b.596ec","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bed_d","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":1040,"wires":[["a182c2b4.ef1e1"],["466b1391.09e2cc"]]},{"id":"d13e5f19.8b452","type":"api-call-service","z":"4e1213ca.a2449c","name":"Get Allergy Data","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.get_allergies_data","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":440,"wires":[["c706ca60.365e98"]]},{"id":"8cf0ecfc.67608","type":"api-call-service","z":"4e1213ca.a2449c","name":"Update Allergy Sensors","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.reset_allergies_sensor","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":440,"wires":[[]]},{"id":"c706ca60.365e98","type":"delay","z":"4e1213ca.a2449c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":440,"wires":[["8cf0ecfc.67608"]]},{"id":"2c3f611d.2c6d8e","type":"discordSendMessage","z":"2311f90c.29fb76","name":"All Away","channel":"568302023775092738","token":"532b3239.4bdaec","x":2100,"y":400,"wires":[]},{"id":"5e14d43a.e6f1ec","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Everyone Away!","output":"str","x":1870,"y":400,"wires":[["2c3f611d.2c6d8e"]]},{"id":"ed6610ac.0b03b","type":"api-call-service","z":"4e1213ca.a2449c","name":"Check Snowy Dams","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.check_snowy_dams","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":660,"wires":[[]]},{"id":"5ad017f7.1f8388","type":"api-call-service","z":"4e1213ca.a2449c","name":"Check ACT Bin Information","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.check_act_garbage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":380,"wires":[[]]},{"id":"58b99478.8148fc","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Evening Holiday Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.evening_holiday","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":860,"wires":[[]]},{"id":"236e0905.626fa6","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Day Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.day","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1410,"y":620,"wires":[[]]},{"id":"6c234509.3ccddc","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Evening Normal Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.evening","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":1320,"wires":[[]]},{"id":"f424e6f4.5d8128","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn off Electric Blankets Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.turn_off_electric_blankets","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":860,"wires":[[]]},{"id":"6f374c5f.32e264","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn off Electric Blankets Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.turn_off_electric_blankets","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":220,"wires":[[]]},{"id":"b8aae6fa.8db858","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn off Electric Blankets Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.turn_off_electric_blankets","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2010,"y":2460,"wires":[[]]},{"id":"ef1e2d59.3d90b","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Morning Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.morning","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":340,"wires":[[]]},{"id":"3902d0e4.77543","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Arriving Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.arriving","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1420,"y":1020,"wires":[[]]},{"id":"cbe5eb0a.f2a078","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Party Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.party","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1420,"y":1140,"wires":[[]]},{"id":"bf83f1de.48231","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Arriving Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.arriving","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":1680,"wires":[[]]},{"id":"ecfeb0c8.6c504","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Late Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.late","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":1420,"wires":[[]]},{"id":"3896132f.8cf96c","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Late Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.late","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":1780,"wires":[[]]},{"id":"a0192b95.be6688","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on Arriving Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.arriving","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":2000,"wires":[[]]},{"id":"a54e4303.feb42","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn on All Motion Scene","server":"53288f5b.596ec","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.all_motion","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1990,"y":2360,"wires":[[]]}]