node-red/flows.json
[{"id":"f38f6ac7.87e2e8","type":"tab","label":"Motion Lights","disabled":false,"info":""},{"id":"3536a43f.46fefc","type":"tab","label":"Hue Remotes","disabled":false,"info":""},{"id":"e324d7f5.ccaea8","type":"tab","label":"Timers","disabled":false,"info":""},{"id":"4e1213ca.a2449c","type":"tab","label":"Time Actions","disabled":false,"info":""},{"id":"2311f90c.29fb76","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"d0718d85.be9c6","type":"tab","label":"Bus Times","disabled":false,"info":""},{"id":"22d9cd14.7f66f2","type":"tab","label":"Climate","disabled":false,"info":""},{"id":"53288f5b.596ec","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"8f04e19c.93e2b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"532b3239.4bdaec","type":"discord-token","z":"","name":"Family"},{"id":"d67b5149.9bbbd","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Bathroom Sensor","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.bathroom_motion_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":260,"wires":[["f7df7bc7.fda158"],["9ddb6ee.6d0ee9"]]},{"id":"f7df7bc7.fda158","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Bathroom Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.bshower","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":200,"wires":[["148f9e29.cbd062","50d107bf.09b148"],[]]},{"id":"148f9e29.cbd062","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bth Motion Flag On","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":180,"wires":[[]]},{"id":"50d107bf.09b148","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bth Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.bathroom_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":220,"wires":[[]]},{"id":"9ddb6ee.6d0ee9","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bth Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.bathroom_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":280,"wires":[[]]},{"id":"6dcdb64e.359d88","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Bth Motion Flag","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.motion_in_bathroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":460,"wires":[["8ab58f09.0eaf8"],["cea71983.28efd8"]]},{"id":"de36e3f5.3b8ca","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bathroom Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":480,"wires":[[]]},{"id":"29546ed4.7f2362","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":380,"wires":[["3fc175ed.8f5ada"],["9640a37b.93de6"]]},{"id":"3fc175ed.8f5ada","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bathroom Light On 20%","server":"53288f5b.596ec","version":1,"service_domain":"light","service":"turn_on","entityId":"light.bathroom","data":"{\"brightness_pct\":\"20\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":360,"wires":[[]]},{"id":"9640a37b.93de6","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bathroom Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.bathroom","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":400,"wires":[[]]},{"id":"cea71983.28efd8","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Bathroom Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.bshower","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":480,"wires":[["de36e3f5.3b8ca"],[]]},{"id":"8ab58f09.0eaf8","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Bathroom Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.bshower","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":400,"wires":[["29546ed4.7f2362"],[]]},{"id":"4b4be3bf.be966c","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Toilet Sensor","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.toilet_motion_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":780,"wires":[["57c4c55e.db6c1c"],["27e47cd1.63c484"]]},{"id":"57c4c55e.db6c1c","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Toilet Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.ton","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":720,"wires":[["d7773598.18c308","98d6ba31.313e68"],[]]},{"id":"d7773598.18c308","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Tlt Motion Flag On","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_toilet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":700,"wires":[[]]},{"id":"98d6ba31.313e68","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Tlt Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.toilet_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":740,"wires":[[]]},{"id":"27e47cd1.63c484","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Tlt Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.toilet_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":800,"wires":[[]]},{"id":"deed14c3.e02e48","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Tlt Motion Flag","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.motion_in_toilet","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":980,"wires":[["24aef097.0e39"],["4faf5147.d7ec8"]]},{"id":"7c89470b.841e08","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Toilet Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.toilet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":1000,"wires":[[]]},{"id":"1fae8d7c.7570a3","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":900,"wires":[["cc240f5e.3bc56"],["2018e5e8.04037a"]]},{"id":"cc240f5e.3bc56","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Toilet Light On 10%","server":"53288f5b.596ec","version":1,"service_domain":"light","service":"turn_on","entityId":"light.toilet","data":"{\"brightness_pct\":\"10\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":880,"wires":[[]]},{"id":"2018e5e8.04037a","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Toilet Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.toilet","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":920,"wires":[[]]},{"id":"4faf5147.d7ec8","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Toilet Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.ton","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":1000,"wires":[["7c89470b.841e08"],[]]},{"id":"24aef097.0e39","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Toilet Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.ton","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":920,"wires":[["1fae8d7c.7570a3"],[]]},{"id":"2816837a.25fecc","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Laundry Sensor","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.laundry_sensor_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1340,"wires":[["35145b.90cf1ba6"],["30475807.235d78"]]},{"id":"35145b.90cf1ba6","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Laundry Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.lon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":1280,"wires":[["ed2a658a.26a308","de44f666.d99d08"],[]]},{"id":"ed2a658a.26a308","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Lnd Motion Flag On","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_laundry","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":1260,"wires":[[]]},{"id":"de44f666.d99d08","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Lnd Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.laundry_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":1300,"wires":[[]]},{"id":"30475807.235d78","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Lnd Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.laundry_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":1360,"wires":[[]]},{"id":"cfa14a43.758508","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Lnd Motion Flag","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.motion_in_laundry","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1540,"wires":[["460f78f1.f3b298"],["e6628773.cb3dc8"]]},{"id":"820ba4fc.598748","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Laundry Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.laundry","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":1560,"wires":[[]]},{"id":"a383f5dc.aef728","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":1460,"wires":[["874b794d.ff2588"],["d8f101f8.9a4d5"]]},{"id":"874b794d.ff2588","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Laundry Light On 50%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.laundry","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":1440,"wires":[[]]},{"id":"d8f101f8.9a4d5","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Laundry Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.laundry","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":1480,"wires":[[]]},{"id":"e6628773.cb3dc8","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Laundry Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.lon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":1560,"wires":[["820ba4fc.598748"],[]]},{"id":"460f78f1.f3b298","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Laundry Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.lon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":1480,"wires":[["a383f5dc.aef728"],[]]},{"id":"86be4191.7abb2","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Garage Sensor","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.garage_sensor_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1900,"wires":[["28877b72.1c33d4"],["e30c131f.33df9"]]},{"id":"28877b72.1c33d4","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Garage Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.gon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":1840,"wires":[["b5d7de38.278fa","d9508e88.277a"],[]]},{"id":"b5d7de38.278fa","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Grg Motion Flag On","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":1820,"wires":[[]]},{"id":"d9508e88.277a","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Grg Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.garage_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":1860,"wires":[[]]},{"id":"e30c131f.33df9","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Grg Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.garage_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":1920,"wires":[[]]},{"id":"3691721a.6553be","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Grg Motion Flag","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.motion_in_garage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":2100,"wires":[["abad504b.73c44"],["eef05842.515298"]]},{"id":"5d593a1.8b5b2c4","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Garage Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":2100,"wires":[[]]},{"id":"60d2f7eb.841148","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Garage Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.garage","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":2020,"wires":[[]]},{"id":"eef05842.515298","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Garage Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.gon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":2120,"wires":[["5d593a1.8b5b2c4"],[]]},{"id":"abad504b.73c44","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Garage Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.gon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":2040,"wires":[["60d2f7eb.841148"],[]]},{"id":"94fe7729.f1f8a8","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Ensuite Sensor","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.ensuite_sensor_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":2520,"wires":[["fc5d80fc.d4ef6","7dd1a32f.10ba8c"],["638a35c4.a9235c"]]},{"id":"fc5d80fc.d4ef6","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ens Motion Flag On","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_ensuite","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":2440,"wires":[[]]},{"id":"7dd1a32f.10ba8c","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ens Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.ensuite_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":2480,"wires":[[]]},{"id":"638a35c4.a9235c","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ens Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.ensuite_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":2540,"wires":[[]]},{"id":"30d5385d.ec6dc8","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Ens Motion Flag","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.motion_in_ensuite","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":2740,"wires":[["3be7b307.6567bc"],["ef98fb94.c00a78"]]},{"id":"3bd1fad1.e1ebd6","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.ensuite","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":2840,"wires":[[]]},{"id":"80338716.ee4c98","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":2660,"wires":[["72e08b92.927674"],["572fb34c.a25dbc"]]},{"id":"72e08b92.927674","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite Spot On 50%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.ensuite_spot","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":2640,"wires":[[]]},{"id":"572fb34c.a25dbc","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.ensuite","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":2680,"wires":[[]]},{"id":"ef98fb94.c00a78","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Ensuite Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.eshower","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":2840,"wires":[["3bd1fad1.e1ebd6"],[]]},{"id":"3be7b307.6567bc","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Ensuite Mode","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Motion","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.eshower","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":2680,"wires":[["80338716.ee4c98"],["a4cf4d8b.2a57"]]},{"id":"5b5dc669.1a2cb8","type":"server-state-changed","z":"3536a43f.46fefc","name":"mbed Button Press","server":"53288f5b.596ec","version":1,"entityidfilter":"sensor.meg_bed_button_press","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":180,"wires":[["5d04ac19.ba4af4"]]},{"id":"5d04ac19.ba4af4","type":"switch","z":"3536a43f.46fefc","name":"Button?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4003","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":340,"y":260,"wires":[["d8a112ef.9488f"],["ac41726f.119fa"],["f06105bf.6fd098"],["259fa91f.dc2b36"],["a383ee28.7fe4d"],[],["4d95ee8b.5e003"],["18f565f1.0682fa"]]},{"id":"d8a112ef.9488f","type":"api-call-service","z":"3536a43f.46fefc","name":"Turn off Meg's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.megan_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":40,"wires":[["6b80d4a8.6bdc2c"]]},{"id":"4d95ee8b.5e003","type":"api-call-service","z":"3536a43f.46fefc","name":"Turn off Simon's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.simon_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":400,"wires":[["30c18401.9be66c"]]},{"id":"ac41726f.119fa","type":"api-call-service","z":"3536a43f.46fefc","name":"Turn on Meg's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.megan_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":100,"wires":[["745c4dc.ea292b4"]]},{"id":"6b80d4a8.6bdc2c","type":"api-call-service","z":"3536a43f.46fefc","name":"Meg Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.bed_m_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":40,"wires":[[]]},{"id":"745c4dc.ea292b4","type":"api-call-service","z":"3536a43f.46fefc","name":"Meg Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.bed_m_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":100,"wires":[[]]},{"id":"18ab4f13.874621","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Bth Motion Flag Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.motion_in_bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":40,"wires":[[]]},{"id":"4fb61b24.fc2214","type":"switch","z":"e324d7f5.ccaea8","name":"Which Timer?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"timer.bathroom_timer","vt":"str"},{"t":"cont","v":"timer.laundry_timer","vt":"str"},{"t":"cont","v":"timer.garage_timer","vt":"str"},{"t":"cont","v":"timer.ensuite_timer","vt":"str"},{"t":"cont","v":"timer.toilet_timer","vt":"str"},{"t":"cont","v":"timer.bed_m_timer","vt":"str"},{"t":"cont","v":"timer.bed_s_timer","vt":"str"},{"t":"cont","v":"timer.bed_st_timer","vt":"str"},{"t":"cont","v":"timer.bed_d_timer","vt":"str"},{"t":"cont","v":"timer.garage_just","vt":"str"},{"t":"cont","v":"timer.outback_just","vt":"str"}],"checkall":"false","repair":false,"outputs":11,"x":580,"y":360,"wires":[["18ab4f13.874621"],["6111492e.76a8d8"],["f9dfb12.0f1bb5"],["e603ad70.b3b44"],["aa36e589.ca8af8"],["12dabb8c.b5e234"],["94eb17c.29ae4e8"],["87a1314b.7d63a"],["a0632f2f.ea52e"],["1647c7c5.76bca8"],["d8faaed4.63e92"]]},{"id":"11f9428e.b680fd","type":"server-events","z":"e324d7f5.ccaea8","name":"Timers Finishing","server":"53288f5b.596ec","event_type":"timer.finished","x":100,"y":360,"wires":[["300d352c.1ce55a"]]},{"id":"e603ad70.b3b44","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Ens Motion Flag Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.motion_in_ensuite","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":220,"wires":[[]]},{"id":"6111492e.76a8d8","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Lnd Motion Flag Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.motion_in_laundry","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":100,"wires":[[]]},{"id":"f9dfb12.0f1bb5","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Grg Motion Flag Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.motion_in_garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":160,"wires":[[]]},{"id":"aa36e589.ca8af8","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Tlt Motion Flag Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.motion_in_toilet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":280,"wires":[[]]},{"id":"300d352c.1ce55a","type":"json","z":"e324d7f5.ccaea8","name":"Convert to JSON","property":"payload","action":"str","pretty":false,"x":330,"y":360,"wires":[["4fb61b24.fc2214"]]},{"id":"12dabb8c.b5e234","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Turn off Meg's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.megan_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":400,"wires":[[]]},{"id":"94eb17c.29ae4e8","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Turn off Simon's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.simon_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":460,"wires":[[]]},{"id":"87a1314b.7d63a","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Turn off Staci's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.staci_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":520,"wires":[[]]},{"id":"a0632f2f.ea52e","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Turn off Delia's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.delia_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":580,"wires":[[]]},{"id":"18f565f1.0682fa","type":"api-call-service","z":"3536a43f.46fefc","name":"Turn on Simon's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.simon_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":480,"wires":[["8919d041.a010e"]]},{"id":"30c18401.9be66c","type":"api-call-service","z":"3536a43f.46fefc","name":"Simon Timer Cancel","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"cancel","entityId":"timer.bed_s_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":400,"wires":[[]]},{"id":"8919d041.a010e","type":"api-call-service","z":"3536a43f.46fefc","name":"Simon Timer Start","server":"53288f5b.596ec","version":"1","service_domain":"timer","service":"start","entityId":"timer.bed_s_timer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":480,"wires":[[]]},{"id":"f06105bf.6fd098","type":"api-call-service","z":"3536a43f.46fefc","name":"Ensuite Toggle","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"toggle","entityId":"light.ensuite","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":200,"wires":[[]]},{"id":"a383ee28.7fe4d","type":"api-call-service","z":"3536a43f.46fefc","name":"Master Lightstrip Toggle","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"toggle","entityId":"light.master_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":300,"wires":[[]]},{"id":"ece39860.93f708","type":"server-state-changed","z":"3536a43f.46fefc","name":"bed Button Press","server":"53288f5b.596ec","version":1,"entityidfilter":"sensor.bedroom_button_press","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":340,"wires":[["5d04ac19.ba4af4"]]},{"id":"7640a2ec.6bbc5c","type":"server-state-changed","z":"4e1213ca.a2449c","name":"Time Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.time_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":160,"wires":[["aea55c84.ae0b4"]]},{"id":"93d3074.192dbf8","type":"api-call-service","z":"4e1213ca.a2449c","name":"Bathroom On","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.bshower","data":"{\"option\":\"Bathroom On\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1500,"y":240,"wires":[[]]},{"id":"6423f2f7.07f1ac","type":"api-call-service","z":"4e1213ca.a2449c","name":"Bathroom Motion","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.bshower","data":"{\"option\":\"Motion\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1520,"y":280,"wires":[[]]},{"id":"27c697c7.0da7e8","type":"api-call-service","z":"4e1213ca.a2449c","name":"Ensuite On","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.eshower","data":"{\"option\":\"Ensuite On\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1500,"y":140,"wires":[["b618ce7.633e43","af105294.af3fe"]]},{"id":"12709099.80413f","type":"api-call-service","z":"4e1213ca.a2449c","name":"Ensuite Motion","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.eshower","data":"{\"option\":\"Motion\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1510,"y":180,"wires":[[]]},{"id":"ea7d3e9f.d2ccd","type":"api-call-service","z":"4e1213ca.a2449c","name":"Toilet Motion","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.ton","data":"{\"option\":\"Motion\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1510,"y":720,"wires":[[]]},{"id":"a269dcf4.a0698","type":"api-call-service","z":"4e1213ca.a2449c","name":"Laundry Motion","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.lon","data":"{\"option\":\"Motion\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1520,"y":760,"wires":[[]]},{"id":"c6540cad.2e09","type":"api-call-service","z":"4e1213ca.a2449c","name":"Garage Motion","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.gon","data":"{\"option\":\"Motion\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1520,"y":800,"wires":[[]]},{"id":"c6a5889b.deef48","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn off Meg's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.megan_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1540,"y":860,"wires":[[]]},{"id":"5073a92e.8c2da8","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn off Simon's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.simon_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":900,"wires":[[]]},{"id":"2879377e.364228","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn off Staci's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.staci_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1540,"y":940,"wires":[[]]},{"id":"5458de59.509f2","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn off Delia's Blanket","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.delia_blanket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":980,"wires":[[]]},{"id":"b618ce7.633e43","type":"api-call-service","z":"4e1213ca.a2449c","name":"Ensuite Spot on 50%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.ensuite_spot","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":120,"wires":[[]]},{"id":"af105294.af3fe","type":"api-call-service","z":"4e1213ca.a2449c","name":"Ensuite Light off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.ensuite_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1730,"y":160,"wires":[[]]},{"id":"eecc5af9.f1b3c8","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Bathroom Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.bshower","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":100,"wires":[["ea7635dd.5484f8"]]},{"id":"ea7635dd.5484f8","type":"switch","z":"f38f6ac7.87e2e8","name":"Bth Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Bathroom On","vt":"str"},{"t":"eq","v":"Motion","vt":"str"},{"t":"eq","v":"Bathroom Off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":100,"wires":[["4cea945c.3ffaec"],["eb230b51.dc3ae8"],["eb230b51.dc3ae8"]]},{"id":"4cea945c.3ffaec","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":60,"wires":[["51f669b1.d68348"],["2528ec71.431514"]]},{"id":"51f669b1.d68348","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bathroom Light On 50%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.bathroom","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":40,"wires":[[]]},{"id":"2528ec71.431514","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bathroom Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.bathroom","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":80,"wires":[[]]},{"id":"eb230b51.dc3ae8","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Bathroom Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":120,"wires":[[]]},{"id":"25b6334e.f6578c","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Toilet Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.ton","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":620,"wires":[["fd9223f0.dc27e"]]},{"id":"fd9223f0.dc27e","type":"switch","z":"f38f6ac7.87e2e8","name":"Tlt Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Toilet On","vt":"str"},{"t":"eq","v":"Motion","vt":"str"},{"t":"eq","v":"Toilet Off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":620,"wires":[["54e437cc.5fec78"],["ffdf4c9a.6c4ba"],["ffdf4c9a.6c4ba"]]},{"id":"ffdf4c9a.6c4ba","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Toilet Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.toilet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":640,"wires":[[]]},{"id":"54e437cc.5fec78","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":580,"wires":[["4af6360.23eb9cc"],["d07d1900.9c4e48"]]},{"id":"4af6360.23eb9cc","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Toilet Light On 10%","server":"53288f5b.596ec","version":1,"service_domain":"light","service":"turn_on","entityId":"light.toilet","data":"{\"brightness_pct\":\"10\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":560,"wires":[[]]},{"id":"d07d1900.9c4e48","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Toilet Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.toilet","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":600,"wires":[[]]},{"id":"fdde2679.772708","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Ensuite Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.eshower","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":2320,"wires":[["6e11fb56.59b294"]]},{"id":"6e11fb56.59b294","type":"switch","z":"f38f6ac7.87e2e8","name":"Ens Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Ensuite On","vt":"str"},{"t":"eq","v":"Motion","vt":"str"},{"t":"eq","v":"Ensuite Off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":2320,"wires":[["aff07699.134938"],["45762e9d.040ec"],["45762e9d.040ec"]]},{"id":"45762e9d.040ec","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.ensuite","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":2340,"wires":[[]]},{"id":"aff07699.134938","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":2280,"wires":[["e9fda607.0d1928"],["7830787d.02e738"]]},{"id":"e9fda607.0d1928","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite Spot On 50%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.ensuite_spot","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":2260,"wires":[[]]},{"id":"7830787d.02e738","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.ensuite","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":2300,"wires":[[]]},{"id":"c125f58.9bc6808","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Garage Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":1740,"wires":[[]]},{"id":"7353dfcc.42b4d","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Garage Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.garage","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":1700,"wires":[[]]},{"id":"65864f3.2d5f3b","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Garage Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.gon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":1720,"wires":[["98ce3ddb.f2aa8"]]},{"id":"98ce3ddb.f2aa8","type":"switch","z":"f38f6ac7.87e2e8","name":"Grg Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Garage On","vt":"str"},{"t":"eq","v":"Motion","vt":"str"},{"t":"eq","v":"Garage Off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":1720,"wires":[["7353dfcc.42b4d"],["c125f58.9bc6808"],["c125f58.9bc6808"]]},{"id":"a8aa25da.72db48","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Laundry Light Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.laundry","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":1180,"wires":[[]]},{"id":"5e3a1ee4.f4a6b","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_night","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":1100,"wires":[["7e01e911.a550f8"],["24ea3e0a.7ec9b2"]]},{"id":"7e01e911.a550f8","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Laundry Light On 50%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.laundry","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":1080,"wires":[[]]},{"id":"24ea3e0a.7ec9b2","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Laundry Light On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.laundry","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1120,"wires":[[]]},{"id":"7c76223e.b27d2c","type":"server-state-changed","z":"f38f6ac7.87e2e8","name":"Laundry Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.lon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":1120,"wires":[["bb044102.37518"]]},{"id":"bb044102.37518","type":"switch","z":"f38f6ac7.87e2e8","name":"Lnd Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Laundry On","vt":"str"},{"t":"eq","v":"Motion","vt":"str"},{"t":"eq","v":"Laundry Off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":1120,"wires":[["5e3a1ee4.f4a6b"],["a8aa25da.72db48"],["a8aa25da.72db48"]]},{"id":"42f83b0e.de3074","type":"api-call-service","z":"4e1213ca.a2449c","name":"Turn off Flags (Message, Returning)","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.send_message, input_boolean.mode_return_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1580,"y":60,"wires":[[]]},{"id":"1c082cc1.40a3b3","type":"api-call-service","z":"4e1213ca.a2449c","name":"Morning Lights","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.kitchen_4, light.kitchen_3, light.living_room","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1510,"y":100,"wires":[[]]},{"id":"4e45e506.58aaac","type":"api-call-service","z":"4e1213ca.a2449c","name":"All Lights Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"group.all_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1500,"y":320,"wires":[[]]},{"id":"41bcb4d2.2b67bc","type":"api-call-service","z":"4e1213ca.a2449c","name":"Iron Off","server":"53288f5b.596ec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.dining_room_iron","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1490,"y":360,"wires":[[]]},{"id":"dc3c5e01.0b539","type":"api-call-service","z":"4e1213ca.a2449c","name":"Evening Lights","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.kitchen, light.living_room, light.front_light, light.dining","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1510,"y":400,"wires":[[]]},{"id":"217c6d5f.8ae1b2","type":"api-call-service","z":"4e1213ca.a2449c","name":"Evening Lightstrips","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.lounge_lightstrip, light.master_lightstrip","data":"{\"brightness_pct\":\"80\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1520,"y":440,"wires":[[]]},{"id":"57767845.35c0f8","type":"api-call-service","z":"4e1213ca.a2449c","name":"Late Lights","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.kitchen, light.living_room, light.dining","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1510,"y":660,"wires":[[]]},{"id":"9470c775.836d38","type":"api-call-service","z":"4e1213ca.a2449c","name":"Night Lights Off","server":"53288f5b.596ec","version":1,"service_domain":"light","service":"turn_off","entityId":"light.living_room, light.dining, light.front_light, light.kitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1520,"y":1040,"wires":[[]]},{"id":"1c6ce715.4e6429","type":"api-call-service","z":"4e1213ca.a2449c","name":"Night Lightstrip Low","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.master_lightstrip","data":"{\"brightness_pct\":\"30\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1530,"y":1080,"wires":[[]]},{"id":"cdfebf67.b1d2","type":"api-current-state","z":"4e1213ca.a2449c","name":"Master Lightstrip On?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.master_lightstrip","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1300,"y":1060,"wires":[["1c6ce715.4e6429"],[]]},{"id":"a4cf4d8b.2a57","type":"api-current-state","z":"f38f6ac7.87e2e8","name":"Morning?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.mode_morning","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":2720,"wires":[["5c8568a9.f6aa68","17b42d26.238ad3"],[]]},{"id":"ac64e5a7.36a178","type":"api-current-state","z":"4e1213ca.a2449c","name":"TV Off?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"remote.harmony_hub","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1260,"y":1160,"wires":[["cb888a6d.ff2b88"],[]]},{"id":"cb888a6d.ff2b88","type":"api-call-service","z":"4e1213ca.a2449c","name":"TV Lightstrip Off","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_off","entityId":"light.lounge_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1520,"y":1140,"wires":[[]]},{"id":"5c8568a9.f6aa68","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ensuite On 100%","server":"53288f5b.596ec","version":"1","service_domain":"light","service":"turn_on","entityId":"light.ensuite","data":"{\"brightness_pct\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":2740,"wires":[[]]},{"id":"17b42d26.238ad3","type":"api-call-service","z":"f38f6ac7.87e2e8","name":"Ens Motion Flag Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.motion_in_ensuite","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":2780,"wires":[[]]},{"id":"1e5d33fb.7551dc","type":"trigger-state","z":"2311f90c.29fb76","name":"Delia travelling by Prox","server":"53288f5b.596ec","entityid":"proximity.home_delia","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"v2ycr3nut8l","targetType":"entity_id","targetValue":"proximity.home_delia","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"50"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":500,"wires":[["47cb41a2.2a354"],["65237ab9.f28264"]]},{"id":"47cb41a2.2a354","type":"api-call-service","z":"2311f90c.29fb76","name":"Delia far","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.away_delia","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":460,"wires":[[]]},{"id":"65237ab9.f28264","type":"api-call-service","z":"2311f90c.29fb76","name":"Delia near","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.away_delia","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":520,"wires":[[]]},{"id":"4f4a7c60.3b5384","type":"trigger-state","z":"2311f90c.29fb76","name":"Staci travelling by Prox","server":"53288f5b.596ec","entityid":"proximity.home_staci","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"9jreeumdjsb","targetType":"entity_id","targetValue":"proximity.home_staci","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"50"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":680,"y":500,"wires":[["b21f0ad2.557358"],["3f2dad85.b21d62"]]},{"id":"b21f0ad2.557358","type":"api-call-service","z":"2311f90c.29fb76","name":"Staci far","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.away_staci","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":460,"wires":[[]]},{"id":"3f2dad85.b21d62","type":"api-call-service","z":"2311f90c.29fb76","name":"Staci near","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.away_staci","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":520,"wires":[[]]},{"id":"f8ec647c.932e28","type":"trigger-state","z":"2311f90c.29fb76","name":"Simon travelling by Prox","server":"53288f5b.596ec","entityid":"proximity.home_simon","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"rw91pl0yv87","targetType":"entity_id","targetValue":"proximity.home_simon","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"50"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":640,"wires":[["40f02cc1.cd8334"],["2fbf8d30.177382"]]},{"id":"40f02cc1.cd8334","type":"api-call-service","z":"2311f90c.29fb76","name":"Simon far","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.away_simon","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":600,"wires":[[]]},{"id":"2fbf8d30.177382","type":"api-call-service","z":"2311f90c.29fb76","name":"Simon near","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.away_simon","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":660,"wires":[[]]},{"id":"ad8c2e18.38f5c","type":"trigger-state","z":"2311f90c.29fb76","name":"Megan travelling by Prox","server":"53288f5b.596ec","entityid":"proximity.home_meg","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"aivftzf0a7v","targetType":"entity_id","targetValue":"proximity.home_meg","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"50"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":690,"y":640,"wires":[["b9f181b4.5853"],["e19fdbeb.e35cd8"]]},{"id":"b9f181b4.5853","type":"api-call-service","z":"2311f90c.29fb76","name":"Megan far","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.away_megan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":600,"wires":[[]]},{"id":"e19fdbeb.e35cd8","type":"api-call-service","z":"2311f90c.29fb76","name":"Megan near","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.away_megan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":660,"wires":[[]]},{"id":"c721ebb8.eb2708","type":"discordSendMessage","z":"2311f90c.29fb76","name":"returning","channel":"568302023775092738","token":"532b3239.4bdaec","x":1800,"y":580,"wires":[]},{"id":"f72e8e21.784fa","type":"trigger-state","z":"2311f90c.29fb76","name":"Delia returning","server":"53288f5b.596ec","entityid":"input_boolean.away_delia","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ryw4alczk7m","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"j0z9f13yon","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":1280,"y":500,"wires":[["c66b9d5e.81973"],[]]},{"id":"c66b9d5e.81973","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Welcome back to Canberra, Delia!","output":"str","x":1550,"y":480,"wires":[["c721ebb8.eb2708"]]},{"id":"f4916c53.299a5","type":"trigger-state","z":"2311f90c.29fb76","name":"Staci returning","server":"53288f5b.596ec","entityid":"input_boolean.away_staci","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ryw4alczk7m","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"j0z9f13yon","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":1280,"y":560,"wires":[["8b5497e8.a45f98"],[]]},{"id":"8b5497e8.a45f98","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Welcome back to Canberra, Staci!","output":"str","x":1550,"y":540,"wires":[["c721ebb8.eb2708"]]},{"id":"63db6098.29ee6","type":"trigger-state","z":"2311f90c.29fb76","name":"Megan returning","server":"53288f5b.596ec","entityid":"input_boolean.away_megan","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ryw4alczk7m","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"j0z9f13yon","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":1280,"y":620,"wires":[["b251398.6304bc8"],[]]},{"id":"b251398.6304bc8","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Welcome back to Canberra, Megan!","output":"str","x":1550,"y":600,"wires":[["c721ebb8.eb2708"]]},{"id":"26155acf.74b1e6","type":"trigger-state","z":"2311f90c.29fb76","name":"Simon returning","server":"53288f5b.596ec","entityid":"input_boolean.away_simon","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ryw4alczk7m","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"j0z9f13yon","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":1280,"y":680,"wires":[["13e1ceff.ff6ec1"],[]]},{"id":"13e1ceff.ff6ec1","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Welcome back to Canberra, Simon!","output":"str","x":1550,"y":660,"wires":[["c721ebb8.eb2708"]]},{"id":"fdf0b4e4.369178","type":"server-state-changed","z":"2311f90c.29fb76","name":"Simon","server":"53288f5b.596ec","version":1,"entityidfilter":"person.simon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":60,"wires":[["807b607b.c5add"]]},{"id":"11ba42f9.d9d51d","type":"server-state-changed","z":"2311f90c.29fb76","name":"Megan","server":"53288f5b.596ec","version":1,"entityidfilter":"person.megan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":120,"wires":[["807b607b.c5add"]]},{"id":"39fc0447.5cc2cc","type":"server-state-changed","z":"2311f90c.29fb76","name":"Staci","server":"53288f5b.596ec","version":1,"entityidfilter":"person.staci","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":180,"wires":[["807b607b.c5add"]]},{"id":"2d2b2e0b.adce02","type":"server-state-changed","z":"2311f90c.29fb76","name":"Delia","server":"53288f5b.596ec","version":1,"entityidfilter":"person.delia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":240,"wires":[["807b607b.c5add"]]},{"id":"88bced39.4edd3","type":"server-state-changed","z":"2311f90c.29fb76","name":"Guest","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.presence_guest","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":300,"wires":[["807b607b.c5add"]]},{"id":"807b607b.c5add","type":"switch","z":"2311f90c.29fb76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":180,"wires":[["aa84b95b.e0af78"]]},{"id":"aa84b95b.e0af78","type":"api-current-state","z":"2311f90c.29fb76","name":"Simon home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.simon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":180,"wires":[["9334f9d6.bbe5c8","154fc467.785fec"],["74332215.b73b5c"]]},{"id":"74332215.b73b5c","type":"api-current-state","z":"2311f90c.29fb76","name":"Megan home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.megan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":240,"wires":[["9334f9d6.bbe5c8"],["52d8084b.045f78"]]},{"id":"52d8084b.045f78","type":"api-current-state","z":"2311f90c.29fb76","name":"Staci home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.staci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":910,"y":280,"wires":[["9334f9d6.bbe5c8"],["b1510c63.910be"]]},{"id":"b1510c63.910be","type":"api-current-state","z":"2311f90c.29fb76","name":"Delia home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.delia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1150,"y":320,"wires":[["9334f9d6.bbe5c8"],["279fd575.e922da"]]},{"id":"279fd575.e922da","type":"api-current-state","z":"2311f90c.29fb76","name":"Guest home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_guest","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1400,"y":360,"wires":[["9334f9d6.bbe5c8"],["6f570116.30def"]]},{"id":"9334f9d6.bbe5c8","type":"api-call-service","z":"2311f90c.29fb76","name":"Someone Home","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.presence_mode","data":"{\"option\":\"Someone Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1640,"y":200,"wires":[[]]},{"id":"6f570116.30def","type":"api-call-service","z":"2311f90c.29fb76","name":"All Away","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.presence_mode","data":"{\"option\":\"All Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":400,"wires":[[]]},{"id":"154fc467.785fec","type":"api-current-state","z":"2311f90c.29fb76","name":"Megan home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.megan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":120,"wires":[["7a42615e.6fc85"],[]]},{"id":"7a42615e.6fc85","type":"api-current-state","z":"2311f90c.29fb76","name":"Staci home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.staci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":930,"y":100,"wires":[["f2ce4c1.33bfdb"],[]]},{"id":"f2ce4c1.33bfdb","type":"api-current-state","z":"2311f90c.29fb76","name":"Delia home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.delia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1150,"y":80,"wires":[["81d2262c.15cf88"],[]]},{"id":"81d2262c.15cf88","type":"api-call-service","z":"2311f90c.29fb76","name":"All Home","server":"53288f5b.596ec","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.presence_mode","data":"{\"option\":\"All Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":80,"wires":[[]]},{"id":"5188cba4.107ba4","type":"server-state-changed","z":"2311f90c.29fb76","name":"Simon Far","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.away_simon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":820,"wires":[["4fda243b.e9a47c"]]},{"id":"ba01a9a5.f342f8","type":"server-state-changed","z":"2311f90c.29fb76","name":"Megan Far","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.away_megan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":880,"wires":[["4fda243b.e9a47c"]]},{"id":"2ade7983.83fe56","type":"server-state-changed","z":"2311f90c.29fb76","name":"Staci Far","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.away_staci","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":940,"wires":[["4fda243b.e9a47c"]]},{"id":"7898cbd1.160e54","type":"server-state-changed","z":"2311f90c.29fb76","name":"Delia Far","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.away_delia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":1000,"wires":[["4fda243b.e9a47c"]]},{"id":"4fda243b.e9a47c","type":"switch","z":"2311f90c.29fb76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":940,"wires":[["fbdb0d19.a1719"]]},{"id":"fbdb0d19.a1719","type":"api-current-state","z":"2311f90c.29fb76","name":"Simon far?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_simon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":940,"wires":[["2710ec77.6cd7a4"],["ad531c80.c10fd","e386aec3.714fc"]]},{"id":"2710ec77.6cd7a4","type":"api-current-state","z":"2311f90c.29fb76","name":"Megan far?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_megan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":900,"wires":[["434fe108.779c2"],["ad531c80.c10fd"]]},{"id":"434fe108.779c2","type":"api-current-state","z":"2311f90c.29fb76","name":"Staci far?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_staci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":860,"y":860,"wires":[["3a5f12bc.c5fcce"],["ad531c80.c10fd"]]},{"id":"3a5f12bc.c5fcce","type":"api-current-state","z":"2311f90c.29fb76","name":"Delia far?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_delia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1060,"y":840,"wires":[["9fbfb9cd.bf2e28"],["ad531c80.c10fd"]]},{"id":"9fbfb9cd.bf2e28","type":"api-call-service","z":"2311f90c.29fb76","name":"Holiday On","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.presence_holiday","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":780,"wires":[[]]},{"id":"38257d22.09c9c2","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Have a great holiday, I'll look after the house!","output":"str","x":1450,"y":1180,"wires":[["1417bcbc.259d93"]]},{"id":"1417bcbc.259d93","type":"discordSendMessage","z":"2311f90c.29fb76","name":"Holiday","channel":"568302023775092738","token":"532b3239.4bdaec","x":1680,"y":1140,"wires":[]},{"id":"3507014f.27eb9e","type":"api-call-service","z":"2311f90c.29fb76","name":"Holiday Off","server":"53288f5b.596ec","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.presence_holiday","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":940,"wires":[[]]},{"id":"d188d69e.236118","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Welcome home!","output":"str","x":1450,"y":1080,"wires":[["1417bcbc.259d93"]]},{"id":"ad531c80.c10fd","type":"switch","z":"2311f90c.29fb76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":940,"wires":[["3507014f.27eb9e"]]},{"id":"da756f4b.1162b","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":780,"wires":[["c6540cad.2e09","a269dcf4.a0698","ea7d3e9f.d2ccd","12709099.80413f","6423f2f7.07f1ac","c6a5889b.deef48","5073a92e.8c2da8","2879377e.364228","5458de59.509f2","9470c775.836d38","cdfebf67.b1d2","ac64e5a7.36a178"]]},{"id":"687d3fec.22e73","type":"api-current-state","z":"4e1213ca.a2449c","name":"Holiday mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_holiday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":660,"y":80,"wires":[["252c7de.fa5f682"],["93f0040b.d8a4a8"]]},{"id":"e5bbecaf.c9f25","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":600,"wires":[["57767845.35c0f8"]]},{"id":"937b0963.6be238","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":400,"wires":[["93d3074.192dbf8","dc3c5e01.0b539","217c6d5f.8ae1b2"]]},{"id":"b837f8c7.ab7498","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":240,"wires":[["6423f2f7.07f1ac","12709099.80413f","4e45e506.58aaac","41bcb4d2.2b67bc","c6a5889b.deef48","5073a92e.8c2da8","2879377e.364228","5458de59.509f2"]]},{"id":"93f0040b.d8a4a8","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":140,"wires":[["93d3074.192dbf8","27c697c7.0da7e8","ea7d3e9f.d2ccd","a269dcf4.a0698","c6540cad.2e09","c6a5889b.deef48","5073a92e.8c2da8","2879377e.364228","5458de59.509f2","42f83b0e.de3074","1c082cc1.40a3b3"]]},{"id":"252c7de.fa5f682","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":60,"wires":[["cb28dc07.66cf9","42f83b0e.de3074","1c082cc1.40a3b3","93d3074.192dbf8"]]},{"id":"5db92154.71c71","type":"api-current-state","z":"4e1213ca.a2449c","name":"Holiday mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_holiday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":660,"y":360,"wires":[["5448138f.e92cfc"],["a60b56.e3cb54a8"]]},{"id":"a60b56.e3cb54a8","type":"api-current-state","z":"4e1213ca.a2449c","name":"Party mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_party","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":870,"y":380,"wires":[["6d667e24.e806d"],["937b0963.6be238"]]},{"id":"6d667e24.e806d","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":360,"wires":[["dc3c5e01.0b539","217c6d5f.8ae1b2","93d3074.192dbf8","12709099.80413f","e2c81f1b.1c4d9"]]},{"id":"5448138f.e92cfc","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":320,"wires":[["ce969a9f.d1ed58","dc3c5e01.0b539","217c6d5f.8ae1b2","93d3074.192dbf8","27c697c7.0da7e8"]]},{"id":"ad55d823.f81e68","type":"api-current-state","z":"4e1213ca.a2449c","name":"Holiday mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_holiday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":660,"y":540,"wires":[["e59f746b.e9b718"],["80f8f2ad.55d2a"]]},{"id":"80f8f2ad.55d2a","type":"api-current-state","z":"4e1213ca.a2449c","name":"Party mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_party","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":870,"y":580,"wires":[["264814a1.dab5ac"],["e5bbecaf.c9f25"]]},{"id":"264814a1.dab5ac","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":560,"wires":[[]]},{"id":"e59f746b.e9b718","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":520,"wires":[["57767845.35c0f8"]]},{"id":"cd3b5fe3.0757e","type":"api-current-state","z":"4e1213ca.a2449c","name":"Party mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_party","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":870,"y":760,"wires":[["cb501306.c2a3c"],["da756f4b.1162b"]]},{"id":"cb501306.c2a3c","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":740,"wires":[[]]},{"id":"cb28dc07.66cf9","type":"api-call-service","z":"4e1213ca.a2449c","name":"Ensuite On","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.eshower","data":"{\"option\":\"Ensuite On\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1510,"y":20,"wires":[[]]},{"id":"ce969a9f.d1ed58","type":"api-call-service","z":"4e1213ca.a2449c","name":"TV On","server":"53288f5b.596ec","version":1,"service_domain":"remote","service":"turn_on","entityId":"remote.harmony_hub","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1490,"y":540,"wires":[[]]},{"id":"e2c81f1b.1c4d9","type":"api-call-service","z":"4e1213ca.a2449c","name":"Toilet On","server":"53288f5b.596ec","version":"1","service_domain":"input_select","service":"select_option","entityId":"input_select.ton","data":"{\"option\":\"Toilet On\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1500,"y":500,"wires":[[]]},{"id":"6ad0abd6.a84574","type":"server-state-changed","z":"4e1213ca.a2449c","name":"Party On","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.presence_party","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":680,"y":440,"wires":[["a60b56.e3cb54a8"],["cd3b5fe3.0757e"]]},{"id":"9e87979.9749d68","type":"api-call-service","z":"4e1213ca.a2449c","name":"TV Off","server":"53288f5b.596ec","version":"1","service_domain":"remote","service":"turn_off","entityId":"remote.harmony_hub","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1490,"y":580,"wires":[[]]},{"id":"869aad29.489e","type":"api-current-state","z":"4e1213ca.a2449c","name":"Holiday mode?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_holiday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":700,"wires":[["c65f68e9.5ccfb8"],["cd3b5fe3.0757e","d68295c6.739458"]]},{"id":"c65f68e9.5ccfb8","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":700,"wires":[["9e87979.9749d68","4e45e506.58aaac"]]},{"id":"aea55c84.ae0b4","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":220,"wires":[["8b157c2b.3c626","6348ec37.55a744","e7a41492.1c0a98","c1b3ef40.0cedf","d46554b6.261ef8"]]},{"id":"d46554b6.261ef8","type":"api-current-state","z":"4e1213ca.a2449c","name":"Night?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Night","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.time_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":740,"wires":[["869aad29.489e"],[]]},{"id":"c1b3ef40.0cedf","type":"api-current-state","z":"4e1213ca.a2449c","name":"Late?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Late","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.time_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":520,"wires":[["ad55d823.f81e68"],[]]},{"id":"e7a41492.1c0a98","type":"api-current-state","z":"4e1213ca.a2449c","name":"Evening?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Evening","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.time_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":380,"wires":[["5db92154.71c71"],[]]},{"id":"6348ec37.55a744","type":"api-current-state","z":"4e1213ca.a2449c","name":"Day?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Day","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.time_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":240,"wires":[["b837f8c7.ab7498"],[]]},{"id":"8b157c2b.3c626","type":"api-current-state","z":"4e1213ca.a2449c","name":"Morning?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"Morning","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.time_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":60,"wires":[["687d3fec.22e73"],[]]},{"id":"abab8e23.c5bf6","type":"server-state-changed","z":"4e1213ca.a2449c","name":"Presence Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.presence_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":340,"wires":[["aea55c84.ae0b4"]]},{"id":"d68295c6.739458","type":"api-current-state","z":"4e1213ca.a2449c","name":"Not All Home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.presence_allhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":1380,"wires":[[],["eb14f452.a3b318"]]},{"id":"eb14f452.a3b318","type":"switch","z":"4e1213ca.a2449c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":1380,"wires":[["466f8515.4a75bc","429ed262.122aac","63eaca64.f87284","1c7ddf1a.445b21","df0b2869.93efd8"]]},{"id":"466f8515.4a75bc","type":"api-call-service","z":"4e1213ca.a2449c","name":"Arrive Lights","server":"53288f5b.596ec","version":1,"service_domain":"light","service":"turn_on","entityId":"light.kitchen, light.living_room, light.front_light","data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":1240,"wires":[[]]},{"id":"1008814b.55c3df","type":"server-state-changed","z":"d0718d85.be9c6","name":"Simon Bus Flag On","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.simon_bus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":180,"wires":[["c3468728.c789a8"],[]]},{"id":"c3468728.c789a8","type":"api-current-state","z":"d0718d85.be9c6","name":"Simon Zone","server":"53288f5b.596ec","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.sphone","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":160,"wires":[["e099dc9.258682","fee7f0d3.8cd16"]]},{"id":"e099dc9.258682","type":"switch","z":"d0718d85.be9c6","name":"Zones","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"UC_Bld7","vt":"str"},{"t":"eq","v":"Bruce_CIT","vt":"str"},{"t":"eq","v":"ANU_CBE","vt":"str"},{"t":"eq","v":"DJSB_CityWalk","vt":"str"},{"t":"eq","v":"DJSB_Mort","vt":"str"},{"t":"eq","v":"Tugg_College","vt":"str"},{"t":"eq","v":"SouthPort","vt":"str"},{"t":"eq","v":"AccerlatePhysio","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":530,"y":160,"wires":[["c4bbff16.0deb5"],["cd989146.f6785"],[],["51ed42e6.8b999c"],[],[],["14165482.ab879b"],["14165482.ab879b"],[]]},{"id":"23239b58.7578e4","type":"discordSendMessage","z":"d0718d85.be9c6","name":"Bus message","channel":"568302023775092738","token":"532b3239.4bdaec","x":1080,"y":140,"wires":[]},{"id":"14165482.ab879b","type":"api-render-template","z":"d0718d85.be9c6","name":"79 Home","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.tugg_to_home_79_now', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.tugg_to_home_79_now', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.tugg_to_home_79_now', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    From Tugg {{route}} Dep {{hms[0]}}:{{hms[1]}}, Home by {{ahms[0]}}:{{ahms[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":800,"y":200,"wires":[["23239b58.7578e4"]]},{"id":"fee7f0d3.8cd16","type":"api-call-service","z":"d0718d85.be9c6","name":"Simon Bus Flag Off","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.simon_bus","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":40,"wires":[[]]},{"id":"cd989146.f6785","type":"api-render-template","z":"d0718d85.be9c6","name":"From UC","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.ucph_to_bel_31', 'origin_stop_departure_time') %}\n{% set departureC = state_attr('sensor.uc_to_city_rx', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.ucph_to_bel_31', 'destination_stop_arrival_time') %}\n{% set arrivalC = state_attr('sensor.uc_to_city_rx', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.ucph_to_bel_31', 'route_route_short_name') %}\n    {% set routeC = state_attr('sensor.uc_to_city_rx', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set departureC = departureC.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set arrivalC = arrivalC.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set hmsC = departureC[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    {% set ahmsC = arrivalC[1].split(':') %}\n    From UC {{route}} Dep {{hms[0]}}:{{hms[1]}}, Bel by {{ahms[0]}}:{{ahms[1]}} OR {{routeC}} Dep {{hmsC[0]}}:{{hmsC[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":800,"y":80,"wires":[["23239b58.7578e4"]]},{"id":"51ed42e6.8b999c","type":"api-render-template","z":"d0718d85.be9c6","name":"From ANU (S)","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.anu_to_woden_r4', 'origin_stop_departure_time') %}\n{% set departureC = state_attr('sensor.citywest_to_woden_r5', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.anu_to_woden_r4', 'destination_stop_arrival_time') %}\n{% set arrivalC = state_attr('sensor.citywest_to_woden_r5', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.anu_to_woden_r4', 'route_route_short_name') %}\n    {% set routeC = state_attr('sensor.citywest_to_woden_r5', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set departureC = departureC.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set arrivalC = arrivalC.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set hmsC = departureC[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    {% set ahmsC = arrivalC[1].split(':') %}\n    From ANU {{route}} Dep {{hms[0]}}:{{hms[1]}}, Woden by {{ahms[0]}}:{{ahms[1]}} OR {{routeC}} Dep {{hmsC[0]}}:{{hmsC[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":820,"y":140,"wires":[["23239b58.7578e4"]]},{"id":"c4bbff16.0deb5","type":"api-render-template","z":"d0718d85.be9c6","name":"From Home","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.home_to_tugg_79_ej', 'origin_stop_departure_time') %}\n{% set departureC = state_attr('sensor.home_to_city_r5_out', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.home_to_tugg_79_ej', 'destination_stop_arrival_time') %}\n{% set arrivalC = state_attr('sensor.home_to_city_r5_out', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.home_to_tugg_79_ej', 'route_route_short_name') %}\n    {% set routeC = state_attr('sensor.home_to_city_r5_out', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set departureC = departureC.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set arrivalC = arrivalC.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set hmsC = departureC[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    {% set ahmsC = arrivalC[1].split(':') %}\n    From Home {{route}} Dep {{hms[0]}}:{{hms[1]}}, Tugg by {{ahms[0]}}:{{ahms[1]}} OR {{routeC}} Dep {{hmsC[0]}}:{{hmsC[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":810,"y":40,"wires":[["23239b58.7578e4"]]},{"id":"658bc602.d3b608","type":"api-call-service","z":"d0718d85.be9c6","name":"Delia Bus Flag Off","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.delia_bus","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":360,"wires":[[]]},{"id":"f4fa82dc.4fa3f","type":"api-current-state","z":"d0718d85.be9c6","name":"Delia Zone","server":"53288f5b.596ec","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.dphone","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":480,"wires":[["ba85189b.d20468","658bc602.d3b608"]]},{"id":"3b9a526.8d994ae","type":"server-state-changed","z":"d0718d85.be9c6","name":"Delia Bus Flag On","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.delia_bus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":500,"wires":[["f4fa82dc.4fa3f"],[]]},{"id":"ba85189b.d20468","type":"switch","z":"d0718d85.be9c6","name":"Zones","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"UC_Bld7","vt":"str"},{"t":"eq","v":"Bruce_CIT","vt":"str"},{"t":"eq","v":"ANU_CBE","vt":"str"},{"t":"eq","v":"DJSB_CityWalk","vt":"str"},{"t":"eq","v":"DJSB_Mort","vt":"str"},{"t":"eq","v":"Tugg_College","vt":"str"},{"t":"eq","v":"SouthPort","vt":"str"},{"t":"eq","v":"AccerlatePhysio","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":530,"y":480,"wires":[["b0c7ec14.45524"],[],[],[],[],[],["bf7fff47.7789d"],["bf7fff47.7789d"],[]]},{"id":"b0c7ec14.45524","type":"api-render-template","z":"d0718d85.be9c6","name":"From Home","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.home_to_tugg_79_ej', 'origin_stop_departure_time') %}\n{% set departureC = state_attr('sensor.home_to_city_r5_out', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.home_to_tugg_79_ej', 'destination_stop_arrival_time') %}\n{% set arrivalC = state_attr('sensor.home_to_city_r5_out', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.home_to_tugg_79_ej', 'route_route_short_name') %}\n    {% set routeC = state_attr('sensor.home_to_city_r5_out', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set departureC = departureC.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set arrivalC = arrivalC.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set hmsC = departureC[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    {% set ahmsC = arrivalC[1].split(':') %}\n    From Home {{route}} Dep {{hms[0]}}:{{hms[1]}}, Tugg by {{ahms[0]}}:{{ahms[1]}} OR {{routeC}} Dep {{hmsC[0]}}:{{hmsC[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":810,"y":420,"wires":[["e8dbea17.988f68"]]},{"id":"bf7fff47.7789d","type":"api-render-template","z":"d0718d85.be9c6","name":"79 Home","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.tugg_to_home_79_now', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.tugg_to_home_79_now', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.tugg_to_home_79_now', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    From Tugg {{route}} Dep {{hms[0]}}:{{hms[1]}}, Home by {{ahms[0]}}:{{ahms[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":800,"y":500,"wires":[["e8dbea17.988f68"]]},{"id":"e8dbea17.988f68","type":"discordSendMessage","z":"d0718d85.be9c6","name":"Bus message","channel":"568302023775092738","token":"532b3239.4bdaec","x":1080,"y":460,"wires":[]},{"id":"76703186.0bd51","type":"server-state-changed","z":"d0718d85.be9c6","name":"Staci Bus Flag On","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.staci_bus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":780,"wires":[["1b8a3314.638d0d"],[]]},{"id":"1b8a3314.638d0d","type":"api-current-state","z":"d0718d85.be9c6","name":"Staci Zone","server":"53288f5b.596ec","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.stphone","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":760,"wires":[["4850404c.0c98","688cf73c.b96aa8"]]},{"id":"4850404c.0c98","type":"switch","z":"d0718d85.be9c6","name":"Zones","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"UC_Bld7","vt":"str"},{"t":"eq","v":"Bruce_CIT","vt":"str"},{"t":"eq","v":"ANU_CBE","vt":"str"},{"t":"eq","v":"DJSB_CityWalk","vt":"str"},{"t":"eq","v":"DJSB_Mort","vt":"str"},{"t":"eq","v":"Tugg_College","vt":"str"},{"t":"eq","v":"SouthPort","vt":"str"},{"t":"eq","v":"AccerlatePhysio","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":540,"y":760,"wires":[["afc29d42.3107b"],[],["22573336.087edc"],[],[],[],["d04ef37d.c7b23"],["d04ef37d.c7b23"],[]]},{"id":"26d284ea.eaea0c","type":"discordSendMessage","z":"d0718d85.be9c6","name":"Bus message","channel":"568302023775092738","token":"532b3239.4bdaec","x":1090,"y":740,"wires":[]},{"id":"d04ef37d.c7b23","type":"api-render-template","z":"d0718d85.be9c6","name":"79 Home","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.tugg_to_home_79_now', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.tugg_to_home_79_now', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.tugg_to_home_79_now', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    From Tugg {{route}} Dep {{hms[0]}}:{{hms[1]}}, Home by {{ahms[0]}}:{{ahms[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":810,"y":800,"wires":[["26d284ea.eaea0c"]]},{"id":"688cf73c.b96aa8","type":"api-call-service","z":"d0718d85.be9c6","name":"Staci Bus Flag Off","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.staci_bus","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":640,"wires":[[]]},{"id":"22573336.087edc","type":"api-render-template","z":"d0718d85.be9c6","name":"From CIT","server":"53288f5b.596ec","template":"{% set departureC = state_attr('sensor.uc_to_city_rx', 'origin_stop_departure_time') %}\n{% set arrivalC = state_attr('sensor.uc_to_city_rx', 'destination_stop_arrival_time') %}\n{% if departureC != None %}\n    {% set routeC = state_attr('sensor.uc_to_city_rx', 'route_route_short_name') %}\n    {% set departureC = departureC.split(' ') %}\n    {% set arrivalC = arrivalC.split(' ') %}\n    {% set hmsC = departureC[1].split(':') %}\n    {% set ahmsC = arrivalC[1].split(':') %}\n    From CIT {{routeC}} Dep {{hmsC[0]}}:{{hmsC[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":820,"y":740,"wires":[["26d284ea.eaea0c"]]},{"id":"afc29d42.3107b","type":"api-render-template","z":"d0718d85.be9c6","name":"From Home","server":"53288f5b.596ec","template":"{% set departure = state_attr('sensor.home_to_tugg_79_ej', 'origin_stop_departure_time') %}\n{% set departureC = state_attr('sensor.home_to_city_r5_out', 'origin_stop_departure_time') %}\n{% set arrival = state_attr('sensor.home_to_tugg_79_ej', 'destination_stop_arrival_time') %}\n{% set arrivalC = state_attr('sensor.home_to_city_r5_out', 'destination_stop_arrival_time') %}\n{% if departure != None %}\n    {% set route = state_attr('sensor.home_to_tugg_79_ej', 'route_route_short_name') %}\n    {% set routeC = state_attr('sensor.home_to_city_r5_out', 'route_route_short_name') %}\n    {% set departure = departure.split(' ') %}\n    {% set departureC = departureC.split(' ') %}\n    {% set arrival = arrival.split(' ') %}\n    {% set arrivalC = arrivalC.split(' ') %}\n    {% set hms = departure[1].split(':') %}\n    {% set hmsC = departureC[1].split(':') %}\n    {% set ahms = arrival[1].split(':') %}\n    {% set ahmsC = arrivalC[1].split(':') %}\n    From Home {{route}} Dep {{hms[0]}}:{{hms[1]}}, Tugg by {{ahms[0]}}:{{ahms[1]}} OR {{routeC}} Dep {{hmsC[0]}}:{{hmsC[1]}}\n{% else %}\n    unknown\n{% endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":830,"y":680,"wires":[["26d284ea.eaea0c"]]},{"id":"259fa91f.dc2b36","type":"api-call-service","z":"3536a43f.46fefc","name":"Master Light Off","server":"53288f5b.596ec","version":1,"service_domain":"script","service":"master_fan_light_off","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":240,"wires":[[]]},{"id":"1647c7c5.76bca8","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Garage Just Flag Off","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.garage_just","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":660,"wires":[[]]},{"id":"d8faaed4.63e92","type":"api-call-service","z":"e324d7f5.ccaea8","name":"Outback Just Flag Off","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.outback_just","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":740,"wires":[[]]},{"id":"c076c5f9.41c7a8","type":"server-state-changed","z":"2311f90c.29fb76","name":"Presence","server":"53288f5b.596ec","version":1,"entityidfilter":"input_select.presence_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":1340,"wires":[["86acf725.e80c28"]]},{"id":"86acf725.e80c28","type":"switch","z":"2311f90c.29fb76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"All Home","vt":"str"},{"t":"eq","v":"Someone Home","vt":"str"},{"t":"eq","v":"All Away","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":1340,"wires":[["26391ba.05897e4","a745f8e5.81e198","e9761b51.06b9b8"],["a745f8e5.81e198","e9761b51.06b9b8"],["eb16534f.347f8"]]},{"id":"26391ba.05897e4","type":"api-call-service","z":"2311f90c.29fb76","name":"Turn off Flags (Returning)","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.mode_return_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":1280,"wires":[[]]},{"id":"eb16534f.347f8","type":"api-call-service","z":"2311f90c.29fb76","name":"Switches Off","server":"53288f5b.596ec","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.lounge_chairs, switch.lounge_tv, switch.study_printer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":1440,"wires":[[]]},{"id":"a745f8e5.81e198","type":"api-call-service","z":"2311f90c.29fb76","name":"Switches On","server":"53288f5b.596ec","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.lounge_chairs, switch.lounge_tv, switch.study_printer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":1320,"wires":[[]]},{"id":"e9761b51.06b9b8","type":"ha-wait-until","z":"2311f90c.29fb76","name":"","server":"53288f5b.596ec","outputs":2,"entityId":"","property":"","comparator":"is","value":"","valueType":"str","timeout":"5","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":800,"y":1380,"wires":[[],["fb1496e2.baa9d8","71dafb7e.19fde4"]]},{"id":"fb1496e2.baa9d8","type":"api-call-service","z":"2311f90c.29fb76","name":"Garage On","server":"53288f5b.596ec","version":1,"service_domain":"light","service":"turn_on","entityId":"light.garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":1400,"wires":[[]]},{"id":"71dafb7e.19fde4","type":"api-call-service","z":"2311f90c.29fb76","name":"Garage Motion","server":"53288f5b.596ec","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.motion_in_garage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":1360,"wires":[[]]},{"id":"e386aec3.714fc","type":"api-current-state","z":"2311f90c.29fb76","name":"Megan near?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_megan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":1040,"wires":[["10153b7d.470cb5"],[]]},{"id":"10153b7d.470cb5","type":"api-current-state","z":"2311f90c.29fb76","name":"Staci near?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_staci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":870,"y":1060,"wires":[["9721f2fa.1b9b9"],[]]},{"id":"9721f2fa.1b9b9","type":"api-current-state","z":"2311f90c.29fb76","name":"Delia near?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_delia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1070,"y":1080,"wires":[["d188d69e.236118"],[]]},{"id":"21a27721.ca4818","type":"server-state-changed","z":"2311f90c.29fb76","name":"Holiday Mode","server":"53288f5b.596ec","version":1,"entityidfilter":"input_boolean.presence_holiday","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":1160,"wires":[["518e557d.f9c46c"]]},{"id":"518e557d.f9c46c","type":"switch","z":"2311f90c.29fb76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1160,"wires":[["fba67f76.91864"],["38257d22.09c9c2"]]},{"id":"fba67f76.91864","type":"template","z":"2311f90c.29fb76","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Turning Holiday Mode off!","output":"str","x":1450,"y":1140,"wires":[["1417bcbc.259d93"]]},{"id":"429ed262.122aac","type":"api-current-state","z":"4e1213ca.a2449c","name":"Simon home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.simon","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1220,"y":1320,"wires":[[],["a2e3fd96.d6aaa"]]},{"id":"a2e3fd96.d6aaa","type":"ha-wait-until","z":"4e1213ca.a2449c","name":"","server":"53288f5b.596ec","outputs":2,"entityId":"","property":"","comparator":"is","value":"","valueType":"str","timeout":"5","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1460,"y":1320,"wires":[[],["bce68e93.187d6"]]},{"id":"63eaca64.f87284","type":"api-current-state","z":"4e1213ca.a2449c","name":"Megan home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.megan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1220,"y":1380,"wires":[[],["59aaf263.577dbc"]]},{"id":"1c7ddf1a.445b21","type":"api-current-state","z":"4e1213ca.a2449c","name":"Staci home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.staci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1210,"y":1440,"wires":[[],["bf6c9452.128878"]]},{"id":"df0b2869.93efd8","type":"api-current-state","z":"4e1213ca.a2449c","name":"Delia home?","server":"53288f5b.596ec","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.delia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1210,"y":1500,"wires":[[],["83a976cb.5b1de8"]]},{"id":"59aaf263.577dbc","type":"ha-wait-until","z":"4e1213ca.a2449c","name":"","server":"53288f5b.596ec","outputs":2,"entityId":"","property":"","comparator":"is","value":"","valueType":"str","timeout":"5","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1460,"y":1380,"wires":[[],["64774da7.443574"]]},{"id":"bf6c9452.128878","type":"ha-wait-until","z":"4e1213ca.a2449c","name":"","server":"53288f5b.596ec","outputs":2,"entityId":"","property":"","comparator":"is","value":"","valueType":"str","timeout":"5","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1460,"y":1440,"wires":[[],["fc428f9f.62ab1"]]},{"id":"83a976cb.5b1de8","type":"ha-wait-until","z":"4e1213ca.a2449c","name":"","server":"53288f5b.596ec","outputs":2,"entityId":"","property":"","comparator":"is","value":"","valueType":"str","timeout":"5","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1460,"y":1500,"wires":[[],["f9d66568.989218"]]},{"id":"bce68e93.187d6","type":"api-call-service","z":"4e1213ca.a2449c","name":"Simon Blanket Script","server":"53288f5b.596ec","version":1,"service_domain":"script","service":"turn_on","entityId":"script.bed_s_on","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1720,"y":1320,"wires":[[]]},{"id":"64774da7.443574","type":"api-call-service","z":"4e1213ca.a2449c","name":"Megan Blanket Script","server":"53288f5b.596ec","version":1,"service_domain":"script","service":"turn_on","entityId":"script.bed_m_on","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1720,"y":1380,"wires":[[]]},{"id":"fc428f9f.62ab1","type":"api-call-service","z":"4e1213ca.a2449c","name":"Staci Blanket Script","server":"53288f5b.596ec","version":1,"service_domain":"script","service":"turn_on","entityId":"script.bed_st_on","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1710,"y":1440,"wires":[[]]},{"id":"f9d66568.989218","type":"api-call-service","z":"4e1213ca.a2449c","name":"Delia Blanket Script","server":"53288f5b.596ec","version":1,"service_domain":"script","service":"turn_on","entityId":"script.bed_d_on","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1710,"y":1500,"wires":[[]]},{"id":"b89da2a8.2e8e7","type":"server-state-changed","z":"22d9cd14.7f66f2","name":"Cold Now","server":"53288f5b.596ec","version":1,"entityidfilter":"binary_sensor.climate_cold_turn_on_warming","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":180,"wires":[["1a8c3110.56e73f"],["9585361e.e0ca88"]]},{"id":"1a8c3110.56e73f","type":"template","z":"22d9cd14.7f66f2","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Cold now, turn on warming!","output":"str","x":410,"y":160,"wires":[["9c50b6c6.bb13b8"]]},{"id":"9c50b6c6.bb13b8","type":"discordSendMessage","z":"22d9cd14.7f66f2","name":"Climate","channel":"568302023775092738","token":"532b3239.4bdaec","x":680,"y":180,"wires":[]},{"id":"9585361e.e0ca88","type":"template","z":"22d9cd14.7f66f2","name":"Message to send","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Warm now, turn off warming!","output":"str","x":410,"y":200,"wires":[["9c50b6c6.bb13b8"]]}]